<div ng-if="spinner">
    <div class="overlays"></div>
</div>
<section class="content-header" xmlns="http://www.w3.org/1999/html">
    <h1>
        Biblioteca UTEPSA
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-11 col-sm-11">
            <div style="padding-left: 0;padding-bottom: 20px" class="col-xs-9 col-sm-6 col-md-4">
                <input  type="text" class="form-control" placeholder="Título" ng-model="search">
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1">
                <button type="button" class="btn btn-primary" ng-click="getBook(search)">Buscar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover animated fadeInLeft" style="background-color: white">
                <thead ng-if="books.length > 0">
                    <tr>
                        <th>Isbn</th>
                        <th>Titulo</th>
                    </tr>
                </thead >
                <tr dir-paginate=" book in books | filter: ref | itemsPerPage: 20"
                     style="cursor: pointer; overflow-x: scroll" ng-click="showInformationBook(book)">
                    <td>{{book.isbn != '' ? book.isbn : 'N/A'}}</td>
                    <td>{{book.title}}</td>
                </tr>
            </table>
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5" ng-if="alert">
            <div class="alert alert-warning alert-dismissable" style="padding: 5px">
                <h4><i class="icon fa fa-warning margin-r-5"></i>{{messageAlert}}</h4>
            </div>
        </div>
    </div>
</section>