<section class="content-header">
    <ol class="breadcrumb">
        <li><a href ui-sref="dashboard" ><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Acerca de</li>
    </ol>
</section>

<section class="content">
    <h2 style="margin-bottom: 2px;margin-top: 5px;" class="text-center" ><b>UTEPSA</b> </h2>
    <div class="row" style="border-top: 2px solid #d73925;margin: 3px 0px 20px 0px;">
        <div class="text-center" style="margin-top: 2px;">
            <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/UTEPSA">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-social-icon btn-twitter"target="_blank" href="https://twitter.com/utepsabolivia">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social-icon btn-google"target="_blank" href="https://plus.google.com/+utepsa">
                <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-social-icon btn-linkedin" target="_blank" href="https://www.linkedin.com/edu/universidad-tecnol%C3%B3gica-privada-de-santa-cruz-165050">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-social-icon btn-google" target="_blank" href="http://www.youtube.com/user/UniversidadUTEPSA">
                <i class="fa fa-youtube-play"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header justify" >
                    <div>
                        <p>
                            La Universidad Tecnológica Privada de Santa Cruz, UTEPSA, fue fundada el 9 de septiembre de 1994 para atender demandas y necesidades de la educación superior a nivel técnico superior
                            universitario, al igual que licenciaturas e ingenierías; con programas
                            académicos donde la tecnología sea aplicada en el proceso de formación de profesionales. Con veintidós años de trayectoria e importantes resultados
                            en la región, UTEPSA demuestra que la calidad, creatividad, innovación y talento son cualidades en las cuales trabaja desde su fundación.
                            <a href="http://www.utepsa.edu/v2/index.php?option=com_content&view=article&id=35&Itemid=100" target="_blank" title="Más Informacion sobre Utepsa">Ver más</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header justify" >
                    <div>
                        <p>
                            <h4><b>MISION</b></h4>
                        </p>
                        <p>
                            Lograr que cada estudiante desarrolle una experiencia académica de calidad, excelencia, con valores, responsabilidad social, innovación, competitividad y habilidades emprendedoras durante su formación integral, para satisfacer las demandas de un mercado globalizado. Sintetizamos la misión en EDUCAR PARA EMPRENDER Y SERVIR
                            <br>
                        </p>
                        <p>
                            <h4><b>VISION</b></h4>
                        </p>
                        <p>
                            Ser una universidad referente y reconocida por su calidad académica, investigación y compromiso con la comunidad, en la formación de profesionales íntegros, emprendedores e innovadores, según parámetros y normativas nacionales e internacionales.
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header justify">
                    <div>
                        <p>
                        <h4><b>SOFTWARE FACTORY</b></h4>
                        </p>
                            <p>
                                Software Factory nació en junio de 2016 bajo la iniciativa de la Jefatura de Ingeniería de Sistemas, en convenio con SwissBytes (Empresa de Desarrollo de Software) con el propósito de generar herramientas solidas que ayuden a toda la comunidad UTEPSA a practicar todo lo aprendido en clases y al mismo tiempo servir como plataforma de despegue para todos aquellos estudiantes en miras de ser profesionales y servir a la sociedad.
                                Este proyecto comenzó paso a paso y hoy en día se consolida con su primera aplicación denominada “UTEPSA Móvil”, desarrollada con el propósito de brindar información en tiempo real a todos los integrantes de la Universidad.
                                <br>
                            </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header" >
                    <div>
                        <h4><b>Equipo Inicial 2016-02 </b></h4>
                        <h5><b>Product Owner:</b></h5>
                        <p>Walter Méndez (Jefe de carrera de Ingeniería de sistemas)</p>
                        <h5><b>Responsables:</b></h5>
                        <p>Luis Roberto Pérez (Ingeniero de SwissBytes)</p>
                        <p>Timoteo Ponce (Ingeniero de SwissBytes)</p>
                        <h5><b>Equipo de Desarrollo:</b></h5>
                        <p>David Batista Taboada</p>
                        <p>Shigeo Tsukazan</p>
                        <p>Alexis Ardaya  Deromedis</p>
                        <p>Gerardo Figueroa Zurita</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header " >
                    <div>
                        <h4><b>Equipo 2017-01</b></h4>
                        <h5><b>Product Owner:</b></h5>
                        <p>Walter Méndez (Jefe de carrera de Ingeniería de sistemas)</p>
                        <h5><b>Responsables:</b></h5>
                        <p>David Batista Taboada</p>
                        <p>Alexis Ardaya  Deromedis</p>
                        <h5><b>Equipo de Desarrollo:</b></h5>
                        <p>Luana Chávez Añez</p>
                        <p>Gerardo Figueroa Zurita</p>
                        <p>Cristian Burgos Mojica</p>
                        <p>Lucas Suarez Blanco</p>
                        <p>Fernanda Collazos Bonilla </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header " >
                    <div>
                        <h4><b>Equipo Actual 2017-02</b></h4>
                        <h5><b>Product Owner:</b></h5>
                        <p>Walter Méndez (Jefe de carrera de Ingeniería de sistemas)</p>
                        <h5><b>Equipo de Desarrollo:</b></h5>
                        <p>Luana Chávez Añez</p>
                        <p>Gerardo Figueroa Zurita</p>
                        <p>Cristian Burgos Mojica</p>
                        <p>Lucas Suarez Blanco</p>
                        <p>Fernanda Collazos Bonilla </p>
                        <p>Verónica Lopéz Salvatierra</p>
                        <p>Leonardo Gutiérrez Éguez</p>
                        <p>José Carlo Vidal Rosas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>