<div ng-show="spinnerLogin">
    <div class="overlays"></div>
</div>
<div class="login-box">
    <div class="login-logo">
        <span class="logo-lg" style="color:white" ><span class="icon-utepsa-logo"></span><b>UTEPSA</b> Móvil</span><br>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <!--<center><p class="icon fa fa-expeditedssl"></p></center>-->
        <!--<div class="text-center"><img src="images/logo-utepsa.png" width="20%" style="padding-bottom: 20px" /></div>-->
        <p class="login-box-msg">Introduce tus datos para iniciar sesión</p>
        <form name="form" ng-submit="login()">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" ng-model="username" placeholder="Código de registro" required>
                <span  class="iconos icon fa fa-user  form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" ng-model="password"  placeholder="Contraseña" required>
                <span  class="iconos icon glyphicon glyphicon-lock form-control-feedback"></span>
           </div>
           <br>
           <button  id="login" class="btn btn-danger btn-block btn-flat">Entrar</button>
        </form>
    </div>
    <br>
    <!-- /.login-box-body -->
    <div class="row">
        <div class="col-xs-12">
            <div class="alert" style="background-color: #dd4b39">
                <button class="close" data-dismiss="alert"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                <strong style="color: whitesmoke">Si es la primera vez que ingresas a la aplicación, tu contraseña es el número de tu Carnet de Identidad.</strong>
            </div>
            <div class="alert alert-danger" ng-if="alertError">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                <strong>Error:</strong> {{messageAlert}}
            </div>
        </div>
    </div>
</div>
<div class="container-footer">
    <div class="text-center login-footer">
        <p>Cualquier duda o consulta , no olvides enviarnos un correo: <span style="color: #ffae00">software.factory@utepsa.edu</span></p>
    </div>
</div>