<div ng-if="spinner">
    <div class="overlays"></div>
</div>
<section class="content-header">
    <h1>
        <i class="fa fa-book "></i>
        Biblioteca UTEPSA
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="dashboard" ><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active"><i class="fa fa-book margin-r-5"></i>Biblioteca UTEPSA</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <form ng-submit="getSearchBooks(fullName)">
            <div class="col-xs-9 col-sm-6 col-md-4">
                <input type="text" class="form-control" placeholder="Titulo" ng-model="fullName" required>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-1">
                <input type="submit" class="form-control btn-primary" value="Buscar">
            </div>
        </form>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12" ng-if="allBooks.length > 0">
            <div class="box box-solid">
                <div class="box-header">
                    <div class="col-xs-12 col-sm-4" style="padding-left: 0">
                        <input type="text" ng-model="buscar"  class="form-control" placeholder="Buscar">
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover animated fadeInLeft">
                        <thead>
                        <tr>
                            <th>Isbn</th>
                            <th>Titulo</th>
                        </tr>
                        </thead>
                        <tr dir-paginate="book in allBooks| orderBy: 'title'| filter: buscar | itemsPerPage: 20"
                            ng-click="showInformationBook(book)" style="cursor: pointer">
                            <td>{{book.isbn != '' ? book.isbn : 'N/A'}}</td>
                            <td>{{book.title}}</td>
                        </tr>
                    </table>
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5" ng-if="allBooks.length == 0">
            <div class="alert alert-warning alert-dismissable" style="padding: 5px">
                <h4><i class="icon fa fa-warning margin-r-5"></i>No existe ningun resultado de la busqueda</h4>
            </div>
        </div>
    </div>
</section>

<div class="modal fade in" id="informationBook" style="overflow-y: scroll">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">{{bookInformation.title}}</h4>
            </div>
            <div class="modal-body table-responsive">
                <br>
                <table class="table table-condensed text-justify">
                    <tr>
                        <th>Ubicación</th>
                        <td>{{bookInformation.location}}</td>
                    </tr>
                    <tr>
                        <th>Autor</th>
                        <td>{{bookInformation.author}}</td>
                    </tr>
                    <tr>
                        <th>Contenido</th>
                        <td>{{bookInformation.content}}</td>
                    </tr>
                    <tr>
                        <th>Descripción</th>
                        <td>{{bookInformation.description}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>