@import url(../app/localLibrary/localLibrary.css);
@import url(../app/virtualBooks/virtualBooks.css);
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?47139815');
    src: url('../fonts/fontello.eot?47139815#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?47139815') format('woff2'),
    url('../fonts/fontello.woff?47139815') format('woff'),
    url('../fonts/fontello.ttf?47139815') format('truetype'),
    url('../fonts/fontello.svg?47139815#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;

    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;

    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-utepsa:before {
    content: '\e800';
    padding-top: 7px;
    font-size: 2.1em;
    padding-right: 2em;
}

.icon-utepsa-logo:before {
    content: '\e800';
    padding-top: 7px;
    font-size: 1.3em;
}

.mreprobada {
    background: #FF0000;
    display: inline;
    margin-right: 4px
}

.maprovada {
    background: #31B404;
    display: inline;
    margin-right: 4px
}

.numBig {
    color: darkcyan;
    font-size: 60px;
    font-weight: bold;
    margin: -21px
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}
.help-block{
    color: red;
}
.login-footer{
    color: #FFF;
    position:relative; /*El div será ubicado con relación a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
    height:50px; /*alto del div*/
    z-index:0;
}
.container-footer{
    min-height:100%;
    margin-bottom: -40px; /* Put negative height of the footer here */
    padding-bottom: 40px; /* Put height of the footer here. Needed for higher than screen height pages */
}

.green-status{
    background-color: #00a65a !important;
}
.red-status{
    background-color: #dd4b39 !important;
}
.red-failed-status{
    background-color: #dd4b39 !important;
}
.yellow-status{
    background-color: #f39c12 !important;
}
.yellow-failed-status{
    background-color: #f39c12 !important;
}
.current-state{
    background-color: #39cccc !important
}
.past-state{
    background-color: #737373 !important
}
.status-note-good{
    color: #00a65a !important;
}
.status-note-bad{
    color: #dd4b39 !important;
}
@keyframes blink {
    0% {
        background-color: white;
    }
    100% {
        background-color: #FFA000;
    }
}
@-webkit-keyframes blink {
    0% {
        background-color: white;
    }
    100% {
        background-color:#FFA000;
    }
}
.blink {
    -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}
body.modal-open {
    //  block scroll for mobile;
    //  causes underlying page to jump to top;
    //  prevents scrolling on all screens
        overflow: hidden;
        position: relative;
}
body.viewport-lg {
    //  block scroll for desktop;
    //  will not jump to top;
    //  will not prevent scroll on mobile
        position: absolute;
}
.justify{
    text-align:justify ;
}
.sidebarCloseImg{
    max-width: 45px !important;
    width:100% !important;
    height:45px !important;
    max-height: 32px !important;
    border-radius:50% !important;
}
.sidebarOpenImg{
    max-width: 45px !important;
    width:100% !important;
    height:45px !important;
    border-radius:50% !important;
}


.swiper-container {
    max-width: 700px;
    height: 100vh;
    background-color: white;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#slide{
    height: 100vh;
    width: 100%;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.storytellingContent{
    min-height: 65px;
    max-height: 65px;
    background-color: #dd4b39;
    margin: -23% auto 5% auto;
    font-size: 12px;
    width: 80%;
    color: white;
}

@media (max-width: 569px){
    #slide{
        height: 100vh;
        width: 95%;
        text-align: center;
    }
    .storytellingContent{
        font-size: 10px;
    }
    .swiper-slide .icon-utepsa-logo{
        margin-left: -.2em;
        color: white;
        font-size: 130px;
    }
}

@media(min-width: 570px){
    .storytellingContent{
        font-size: 1em;
        margin-top: -100px;
    }
    #slide{
        height: 100vh;
        width: 70%;
        text-align: center;
    }
    .swiper-slide .icon-utepsa-logo{
        margin-left: -.2em;
        color: white;
        font-size: 140px;
    }
}

@media(min-width: 1001px){
    .storytellingContent{
        font-size: 1.3em;
        margin-top: -150px;
    }
    #slide{
        height: 100vh;
        width: 100%;
        text-align: center;
    }
    .btn-circle.btn-lg {
        width: 60px;
        height: 60px;
        padding: 10px 16px;
        font-size: 20px;
        line-height: 1.33;
        border-radius: 25px;
    }
    .swiper-slide .icon-utepsa-logo{
        margin-left: -.2em;
        color: white;
        font-size: 200px;
    }
}

/* Toast dashboard */
#snackbar {
    visibility: hidden;
    width: 100%;
    background-color: #333;
    color: #fff;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    font-size: 14px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 9.5s;
    animation: fadein 0.5s, fadeout 0.5s 9.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 0; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 0; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}