.overlays {
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
    display : block;
    position : absolute;
    z-index: 10000;
    background-image : url('../images/redloading.gif');
    background-color:#ffffff;
    opacity : 0.9;
    background-repeat : no-repeat;
    background-position : center;

}
