<div>
    <div ng-show="spinnerHistoryNotes">
        <div class="overlays"></div>
    </div>
    <section class="content-header">
        <h1>
            Historial de notas
        </h1>
        <ol class="breadcrumb">
            <li><a href ui-sref="dashboard" ><i class="fa fa-dashboard"></i>Inicio</a></li>
            <li class="active">Historial de notas</li>
        </ol>
    </section>

    <section class="content">
        <div ng-if="alertError" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
            <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
        </div>
        <div ng-if="!alertError" class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-teal">
                    <div class="inner">
                        <h3 ng-if="historyNotesOfStudent.code==204">0<sup style="font-size: 20px">  pts.</sup></h3>
                        <h3 ng-if="historyNotesOfStudent.code!=204">{{historyNotesOfStudent.data.average| number : 2}}<sup style="font-size: 20px">  pts.</sup></h3>
                        <p>Promedio general</p>
                    </div>
                    <div class="icon">
                        <i class="fa  fa-book"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-if="historyNotesOfStudent.code==204"> 0<sup style="font-size: 20px">%</sup></h3>
                        <h3 ng-if="historyNotesOfStudent.code!=204"> {{historyNotesOfStudent.data.progressPercentage| number : 2}}<sup style="font-size: 20px">%</sup></h3>
                        <p>Avance carrera</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-if="historyNotesOfStudent.code==204">0<sup style="font-size: 20px">/0</sup></h3>
                        <h3 ng-if="historyNotesOfStudent.code!=204">{{itemshistoryNotes.data.approved}}<sup style="font-size: 20px">/{{historyNotesOfStudent.data.total}}</sup></h3>
                        <p>Materias aprobadas</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-smile-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <a data-backdrop="" data-toggle="modal" data-target="#coursesreproved">
                    <div class="small-box bg-red">
                        <div class="inner" >
                            <h3 ng-if="historyNotesOfStudent.code==204">0<sup style="font-size: 20px"></sup></h3>
                            <h3 ng-if="historyNotesOfStudent.code!=204">{{historyNotesOfStudent.data.disapproved}}<sup style="font-size: 20px"></sup></h3>
                            <p>Materias reprobadas</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-frown-o"></i>
                        </div>
                        <div ng-if="itemshistoryNotes.data.disapproved>0" id="coursesreproved" class="modal fade modal-danger" data-backdrop="static" role="dialog" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Materias Reprobadas</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-condensed">
                                            <thead>
                                            <th class="text-center">Nota</th>
                                            <th>Nombre de la materia</th>
                                            </thead>
                                            <tbody ng-repeat="historyNoteCoursesReproved in coursesFailed | orderBy:'course.name'">
                                            <tr>
                                                <td class="text-center">{{historyNoteCoursesReproved.note}}</td>
                                                <td class="text-left">{{historyNoteCoursesReproved.course.name}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="box box-danger collapsed-box">
                    <div class="box-header  with-border" data-widget="collapse">
                        <h3 class="box-title">Materias Cursadas</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool"><i class="fa fa-plus iconCollapse"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="display: none;">
                        <div class="input-group col-md-4 col-xs-12">
                            <input type="text" ng-model="materia.course.name" name="message" placeholder="Buscar materia" class="form-control">
                        </div>
                        <br>
                        <table class="table table-condensed">
                            <thead>
                            <th class="text-center">Nota</th>
                            <th>Nombre de la materia</th>
                            </thead>
                            <tbody ng-repeat="historyNote in historyNotesOfStudent.data.courses | orderBy:'course.name' | filter:materia">
                            <tr>
                                <td class="text-center" ng-class="{'color-red': historyNote.note <  historyNote.minimunNote,
                                                    'color-green': historyNote.note >=  historyNote.minimunNote}">{{historyNote.note}}</td>
                                <td ng-class="{'color-red': historyNote.note <  historyNote.minimunNote,
                                                    'color-green': historyNote.note >=  historyNote.minimunNote}">{{historyNote.course.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div ng-if="itemshistoryNotes.data.approved != historyNotesOfStudent.data.total " class="col-lg-6 col-xs-12">
                <div class="box box-danger collapsed-box">
                    <div class="box-header with-border" data-widget="collapse" >
                        <h3 class="box-title">Materias Faltantes</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool"><i class="fa fa-plus iconCollapse"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive" style="display: none;">
                        <div class="input-group col-md-4 col-xs-12">
                            <input type="text" ng-model="materiaFaltante.name" name="message" placeholder="Buscar materia" class="form-control">
                        </div>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                            <th>Nombre de la materia</th>
                            </thead>
                            <tbody ng-repeat="historyNote in historyNotesOfStudent.data.coursesMissing | orderBy:'name' | filter:materiaFaltante">
                            <tr>
                                <td>{{historyNote.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</div>