<div ng-show="updatingInfoStudent.spinner">
    <div class="overlays"></div>
</div>
<section class="content-header">
    <h1><i class="fa fa-pencil-square-o"></i>
        Programación de Materias
    </h1>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="searchStudents"><i class="fa fa-home"></i>Inicio</a>
        </li>
        <li class=" active">
            <i class="fa fa-pencil-square-o"></i>
            Programación de Materias
        </li>
    </ol>
</section>
<section class="content" id="matrix">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <input type="text" class="form-control" placeholder="Codigo de Registro" ng-model="codeStudent">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <button class="btn btn-primary" ng-click="getStudents(codeStudent)">Buscar</button>
        </div>
    </div>
    <br>
    <div class="row" ng-if="messageError == '' && !spinnerSearchStudent && spinnerSearchStudent != undefined">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8 pull-right">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-xs-6">
                        <strong><i class="fa fa-info-circle margin-r-5"></i> Nombres:</strong>
                        <p class="text-muted">{{dataStudent.name}}</p>

                        <strong><i class="fa fa-info-circle margin-r-5"></i> Apellidos:</strong>
                        <p class="text-muted">{{dataStudent.fatherLastname}} {{dataStudent.motherLastname}}</p>

                        <strong><i class="fa fa-barcode margin-r-5"></i> Código de registro:</strong>
                        <p class="text-muted">{{dataStudent.registerCode}}</p>
                    </div>
                    <div class="col-xs-6">
                        <strong><i class="fa fa-barcode margin-r-5"></i> Facultad:</strong>
                        <p class="text-muted">{{dataStudent.faculty}}</p>

                        <strong><i class="fa fa-barcode margin-r-5"></i> Carrera:</strong>
                        <p class="text-muted">{{dataStudent.career}}</p>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-xs-6 text-red " ng-class="{'text-green': updatingInfoStudent.message ==
                    'Se actualizo con éxito'}">
                        <span ng-if="updatingInfoStudent.message != ''">
                            <i class="fa fa-info-circle margin-r-5"></i>{{updatingInfoStudent.message}}
                        </span>
                    </div>
                    <div class="col-xs-6">
                        <a ng-click="updateInfoStudent()" class="btn btn-primary pull-right">
                            <i class="fa fa-undo margin-r-5" aria-hidden="true" style="color: white"></i>Actualizar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3 col-lg-4">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="row">
                        <div class="col-xs-8">
                            <h3 style="font-size: 18px; margin-top: 0;">
                                Materias faltantes
                                <a class="link-black" href="" data-toggle="tooltip" data-placement="top" title="{{description}}">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </h3>
                        </div>
                        <div class="col-xs-4">
                            <div class="box-tools">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-btn ">
                                        <button ng-click="groupsOfferedById()" class="btn btn-primary pull-right"
                                                ng-class="{'disabled': dataIdCourse.length == 0}">Enviar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-widget widget-user-2">
                    <div class="widget-user-header truncate ">
                        <table class="table table-condensed">
                            <tr>
                                <th>Semestre</th>
                                <th>Materia</th>
                            </tr>
                            <tr class="text-left " ng-repeat = "data in dataCourseMissing"  ng-click="preparingIdCourse(data.idCourse)" id="local{{data.idCourse}}" style="cursor: pointer">
                                <td>{{data.pensumLevel}}</td>
                                <td >{{data.name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-9 col-lg-8 pull-right">
            <div ng-if = "spinnerCourseOffered" class="text-center" style="font-size: 30px">
                <div class="overlay" >
                    <i class="fa fa-refresh fa-spin" style="color: black;"></i>
                </div>
                <div>
                    <p style="color: black">Cargando...</p>
                </div>
            </div>
            <div class="nav-tabs-custom" ng-if = '!spinnerCourseOffered && spinnerCourseOffered != undefined'>
                <ul class="nav nav-tabs">
                    <li class="active"><a ng-click="changeTabs('m1')" href="" data-toggle="tab" aria-expanded="true">Modulo 1</a></li>
                    <li><a ng-click="changeTabs('m2')" href="" data-toggle="tab" aria-expanded="false">Modulo 2</a></li>
                    <li><a ng-click="changeTabs('m3')" href="" data-toggle="tab" aria-expanded="false">Modulo 3</a></li>
                    <li><a ng-click="changeTabs('m4')" href="" data-toggle="tab" aria-expanded="false">Modulo 4</a></li>
                    <li><a ng-click="changeTabs('m5')" href="" data-toggle="tab" aria-expanded="false">Modulo 5</a></li>
                    <li><a ng-click="changeTabs('m6')" href="" data-toggle="tab" aria-expanded="false">Modulo 6</a></li>
                    <li><a ng-click="changeTabs('programacionDelEstudiante')" href="" data-toggle="tab" aria-expanded="false">Programación del Estudiante</a></li>
                </ul>
                <div class="tab-content">
                    <div ng-if="tabs == 'm1'" class="tab-pane active in">
                        <div  class="box-body table-responsive">
                            <table class="table table-hover">
                                <thead >
                                <tr>
                                    <th>Nombre</th>
                                    <th>7:15-10:00</th>
                                    <th>10:15-13:00</th>
                                    <th>13:15-16:00</th>
                                    <th>16:15-19:00</th>
                                    <th>19:15-21:45</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="dataOne in resultGroupsOfferedById" >
                                <tr ng-repeat="dataTwo in dataOne" ng-show="dataTwo.module == '1'">
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <p>{{dataTwo.course.name | lowercase}}</p>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '07:15-10:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '10:15-13:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '13:15-16:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '16:15-19:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '19:15-21:45' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="tabs == 'm2'" class="tab-pane active in">
                        <div  class="box-body table-responsive">
                            <table class="table table-hover">
                                <thead >
                                <tr>
                                    <th>Nombre</th>
                                    <th>7:15-10:00</th>
                                    <th>10:15-13:00</th>
                                    <th>13:15-16:00</th>
                                    <th>16:15-19:00</th>
                                    <th>19:15-21:45</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="dataOne in resultGroupsOfferedById" >
                                <tr ng-repeat="dataTwo in dataOne" ng-show="dataTwo.module == '2'">
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <p>{{dataTwo.course.name | lowercase}}</p>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '07:15-10:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '10:15-13:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '13:15-16:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '16:15-19:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '19:15-21:45' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="tabs == 'm3'" class="tab-pane active in">
                        <div  class="box-body table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>7:15-10:00</th>
                                    <th>10:15-13:00</th>
                                    <th>13:15-16:00</th>
                                    <th>16:15-19:00</th>
                                    <th>19:15-21:45</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="dataOne in resultGroupsOfferedById" >
                                <tr ng-repeat="dataTwo in dataOne" ng-show="dataTwo.module == '3'">
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <p>{{dataTwo.course.name | lowercase}}</p>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '07:15-10:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '10:15-13:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '13:15-16:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '16:15-19:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '19:15-21:45' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="tabs == 'm4'" class="tab-pane active in">
                        <div  class="box-body table-responsive">
                            <table class="table table-hover">
                                <thead >
                                <tr>
                                    <th>Nombre</th>
                                    <th>7:15-10:00</th>
                                    <th>10:15-13:00</th>
                                    <th>13:15-16:00</th>
                                    <th>16:15-19:00</th>
                                    <th>19:15-21:45</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="dataOne in resultGroupsOfferedById" >
                                <tr ng-repeat="dataTwo in dataOne" ng-show="dataTwo.module == '4'">
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <p>{{dataTwo.course.name | lowercase}}</p>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '07:15-10:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '10:15-13:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '13:15-16:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '16:15-19:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '19:15-21:45' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="tabs == 'm5'" class="tab-pane active in">
                        <div  class="box-body table-responsive">
                            <table class="table table-hover">
                                <thead >
                                <tr>
                                    <th>Nombre</th>
                                    <th>7:15-10:00</th>
                                    <th>10:15-13:00</th>
                                    <th>13:15-16:00</th>
                                    <th>16:15-19:00</th>
                                    <th>19:15-21:45</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="dataOne in resultGroupsOfferedById" >
                                <tr ng-repeat="dataTwo in dataOne" ng-show="dataTwo.module == '5'">
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <p>{{dataTwo.course.name | lowercase}}</p>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '07:15-10:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '10:15-13:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '13:15-16:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '16:15-19:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '19:15-21:45' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="tabs == 'm6'" class="tab-pane active in">
                        <div  class="box-body table-responsive">
                            <table class="table table-hover">
                                <thead >
                                <tr>
                                    <th>Nombre</th>
                                    <th>7:15-10:00</th>
                                    <th>10:15-13:00</th>
                                    <th>13:15-16:00</th>
                                    <th>16:15-19:00</th>
                                    <th>19:15-21:45</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="dataOne in resultGroupsOfferedById" >
                                <tr ng-repeat="dataTwo in dataOne" ng-show="dataTwo.module == '6'">
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <p>{{dataTwo.course.name | lowercase}}</p>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '07:15-10:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '10:15-13:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '13:15-16:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '16:15-19:00' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                    <td ng-if="dataTwo.schedule.schedule != 'RAC'">
                                        <a class="btn btn-default id{{dataTwo.id}}" ng-click="programmingCourse(dataTwo)" ng-if="dataTwo.schedule.schedule == '19:15-21:45' && dataTwo.group != ' '">{{dataTwo.group}}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="tabs == 'programacionDelEstudiante'" class="tab-pane active in">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <h3 class="box-title">Materias programadas</h3>
                                        <a ng-click="exportToExcel()" id="export" href="" class="btn btn-primary pull-right">
                                            <i class="fa  fa-download margin-r-5"></i>
                                            Exportar a Excel
                                        </a>
                                    </div>
                                    <div class="box-body table-responsive">
                                        <table id="dvData" class="table table-hover">
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Grupo</th>
                                                <th>Modulo</th>
                                                <th>Inscritos</th>
                                                <th>Horario</th>
                                            </tr>
                                            <tr ng-repeat="data in courseConfirmedOfStudent">
                                                <td>{{data.name}}</td>
                                                <td>{{data.group}}</td>
                                                <td>{{data.module}}</td>
                                                <td>{{data.numberEnrolled}}</td>
                                                <td>{{data.schedule}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                                <div class="callout callout-warning">
                                    <h4><i class="fa fa-info-circle margin-r-5"></i>Nota: </h4>
                                    Una vez que cambie de pestaña estas materias seran eliminadas, para guardarla puede
                                    presionar el boton de exportar.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="messageError == '' && spinnerSearchStudent" class="text-center" style="font-size: 30px">
        <div class="overlay" >
            <i class="fa fa-refresh fa-spin" style="color: black;"></i>
        </div>
        <div>
            <p style="color: black">Cargando...</p>
        </div>
    </div>
    <div class="row" ng-if="messageError != '' && messageError != undefined">
        <div class="col-xs-12">
            <div class="alert alert-danger alert-dismissable">
                <i class="icon fa fa-ban"></i>
                {{messageError}}
            </div>
        </div>
    </div>
</section>

<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>