<div ng-show="spinnerInit">
    <div class="overlays"></div>
</div>
<section class="content-header">
    <h1>
        <i class="fa fa-trophy"></i>
        Estudiantes Destacados
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="dashboard" ><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active"><i class="fa fa-trophy margin-r-5"></i>Estudiantes Destacados</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <input type="number" class="form-control" ng-model="year" placeholder="Año">
            <br>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <select class="form-control" ng-model="semesterSelected">
                <option value="">Seleccione un Semestre:</option>
                <option value="1">Primer Semestre</option>
                <option value="2">Segundo Semestre</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <select class="form-control" ng-model="careerSelected">
                <option value="">Seleccione una Carrera:</option>
                <option ng-repeat="career in  careers.data " value="{{career.id}}">{{career.name}}</option>
            </select>
            <br>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <button ng-class="{'disabled': careerSelected == undefined}" ng-click="getBestAverage(year, careerSelected, semesterSelected)" class="btn btn-primary">Enviar</button>
        </div>
    </div>
    <br>
    <div class="row" ng-if="showInformation">
        <div class="col-md-6">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header" style="background-color: #3c8dbc;">
                    <h1 class="widget-user-username" align="center" style="color: #FFFFFF; margin-left: 0px;">Mejores Promedios del Semestre</h1>
                </div>
                <div class="box-footer no-padding" ng-if="!spinnerBoxBestAverage">
                    <ul class="nav nav-stacked">
                        <div ng-if="spinnerBoxBestAverage" class="text-center" style="font-size: 30px">
                            <div class="overlay" >
                                <i class="fa fa-refresh fa-spin" style="color: black;"></i>
                            </div>
                            <br>
                            <div>
                                <p style="color: black">Cargando...</p>
                            </div>
                        </div>
                        <li ng-repeat="item in listStudentOfBestAverage">
                            <a ng-click="element(item)">{{item.name}} <span class="pull-right">{{item.average}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-show="showProfile">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-widget widget-user">
                        <div class="widget-user-header" style="background-color: #3c8dbc;">
                            <h3 class="widget-user-username" style="color: #FFFFFF;">
                                {{student.name}} {{student.fatherLastname}} {{student.motherLastname}}
                            </h3>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle profile-user-img img-responsive" style="width:100px; height:100px;background-color:1px silver;border-radius:50%;" ng-src="http://www.utepsa.edu/miutepsa/imagenes/faces/{{initRegisterStudent}}/{{student.agendCode}}.jpg" alt="User Avatar">
                        </div>
                        <br>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-3 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{student.average}}</h5>
                                        <span class="description-text">Promedio</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{student.registerNumber}}</h5>
                                        <span class="description-text">Registro</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{student.totalCarriedCourse}}/{{student.careerTotalCourse}}</h5>
                                        <span class="description-text">Avance</span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="description-block">
                                        <h5 class="description-header">{{student.pensum}}</h5>
                                        <span class="description-text">Pensum</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{student.carriedCourse}}</h5>
                                        <span class="description-text">Materias Cursadas</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="description-block">
                                        <h5 class="description-header">{{student.firstSemester}}</h5>
                                        <span class="description-text">Semestre de Inicio</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                   <div class="box perfiles">
                       <div class="box-header">
                           <h3 class="box-title">Historial del Semestre</h3>
                       </div>
                       <div class="box-body no-padding">
                           <div ng-if="spinnerShowInformationCourseStudent" class="text-center" style="font-size: 30px">
                               <div class="overlay" >
                                   <i class="fa fa-refresh fa-spin" style="color: black;"></i>
                               </div>
                               <br>
                               <div>
                                   <p style="color: black">Cargando...</p>
                               </div>
                           </div>
                           <table class="table table-striped" ng-if="!spinnerShowInformationCourseStudent">
                               <tbody>
                                   <tr>
                                       <th style="width: 20px">Cod</th>
                                       <th>Materia</th>
                                       <th>Modulo</th>
                                       <th style="width: 40px">Nota</th>
                                   </tr>
                                   <tr ng-repeat="course in courses | orderBy: 'module'">
                                       <td>{{course.course.initials}}</td>
                                       <td>{{course.course.name}}</td>
                                       <td>
                                           <span class="badge bg-green">{{course.module}}</span>
                                       </td>
                                       <td><span class="badge bg-green">{{course.note}}</span></td>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="showInformation">
        <div class="col-md-6">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header" style="background-color: #3c8dbc;">
                    <h1 class="widget-user-username" align="center" style="color: #FFFFFF; margin-left: 0px;">Estudiantes por Excelencia</h1>
                </div>
                <div class="box-footer no-padding" ng-if="!spinnerBoxStudentExcellence">
                    <ul class="nav nav-stacked">
                        <div ng-if="spinnerBoxStudentExcellence" class="text-center" style="font-size: 30px">
                            <div class="overlay" >
                                <i class="fa fa-refresh fa-spin" style="color: black;"></i>
                            </div>
                            <br>
                            <div>
                                <p style="color: black">Cargando...</p>
                            </div>
                        </div>
                        <li ng-repeat="item2 in listStudentPerExcellence">
                            <a ng-click="element2(item2)">{{item2.name}} <span class="pull-right">{{item2.average}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-widget widget-user" ng-if="showProfileExcellence">
                <div class="widget-user-header" style="background-color: #3c8dbc;">
                    <h3 class="widget-user-username" style="color: #FFFFFF;">
                        {{studentExcellence.name}} {{studentExcellence.fatherLastname}} {{studentExcellence.motherLastname}}
                    </h3>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle profile-user-img img-responsive" style="width:100px; height:100px;background-color:1px silver;border-radius:50%;" ng-src="http://www.utepsa.edu/miutepsa/imagenes/faces/{{initRegisterStudents}}/{{studentExcellence.agendCode}}.jpg" alt="User Avatar">
                </div>
                <br>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-3 border-right">
                            <div class="description-block">
                                <h5 class="description-header">{{studentExcellence.average}}</h5>
                                <span class="description-text">Promedio</span>
                            </div>
                        </div>
                        <div class="col-sm-3 border-right">
                            <div class="description-block">
                                <h5 class="description-header">{{studentExcellence.registerNumber}}</h5>
                                <span class="description-text">Registro</span>
                            </div>
                        </div>
                        <div class="col-sm-3 border-right">
                            <div class="description-block">
                                <h5 class="description-header">{{studentExcellence.totalCarriedCourse}}/{{studentExcellence.careerTotalCourse}}</h5>
                                <span class="description-text">AVANCE</span>
                            </div>
                        </div>
                        <div class="col-sm-3 border-right">
                            <div class="description-block">
                                <h5 class="description-header">{{studentExcellence.pensum}}</h5>
                                <span class="description-text">Pensum</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 border-right">
                            <div class="description-block">
                                <h5 class="description-header">{{studentExcellence.numberOfSemesters}}</h5>
                                <span class="description-text">Cantidad de Semestres de la Carrera</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="description-block">
                                <h5 class="description-header">{{studentExcellence.firstSemester}}</h5>
                                <span class="description-text">Semestre de Inicio</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


