<div class="overlays" ng-if="spinner"></div>
<section class="content-header">
    <h1>
        Biblioteca Virtual
    </h1>
</section>
<section class="content">
    <div class="row">
        <form ng-submit="getSearchBook(search)">
            <div class="col-xs-8 col-sm-8 col-md-5">
                <input class="form-control" type="text" placeholder="Nombre del Libro" ng-model="search" required>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3">
                <input type="submit" class="btn btn-primary" value="Buscar">
            </div>
        </form>
    </div>
    <br>
    <br>
    <div class="row" ng-if="books.length > 0">
        <div dir-paginate="book in books | itemsPerPage: 15" class="col-xs-6">
            <div class="box box-solid collapsed-box">
                <div class="box-header with-border" data-widget="collapse">
                    <h3 class="box-title">{{book.name}}</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mas">
                            <i class="fa  iconCollapse fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    {{book.description}}
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary  pull-right" ng-click="showPdfVisor(book)">Leer</button>
                </div>
            </div>
        </div>
        <dir-pagination-controls></dir-pagination-controls>
    </div>
    <div class="row" ng-if="alert">
        <div class="col-xs-12 col-sm-6 col-md-5">
            <div class="alert alert-warning alert-dismissable" style="padding: 5px">
                <h4><i class="icon fa fa-warning margin-r-5"></i>{{messageAlert}}</h4>
            </div>
        </div>
    </div>
</section>