<section class="content-header">
    <h1>
        Enlaces de interes
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Udemy</h3>
                </div>
                <div class="box-body text-center">
                    <img src="http://cdn.wccftech.com/wp-content/uploads/2015/11/5302f1bf6d1b43386e11d7d028107db42ee70dc1.png" alt="es" width="80">
                    <br> <br>
                    <p style="text-align: justify">Udemy es una plataforma de cursos en linea que permite a cualquier
                        persona de cualquier lugar del mundo impartir cursos o apuntarse a cursos de casi cualquier
                        tipo. Los cursos están disponibles siempre que quieras y desde cualquier lugar donde te
                        encuentres. La misión de Udemy es ayudar a las personas a aprender. Ofrecemos cursos asequibles
                        bajo demanda para que puedas alcanzar tu potencial ilimitado a tu manera, ya sea como parte de
                        tu desarrollo profesional o por interés personal.</p>
                     <h3>
                         <a href="https://www.udemy.com/" target="_blank" >Visitar Udemy</a>
                     </h3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Coursera</h3>
                </div>
                <div class="box-body text-center">
                    <img src="http://webstir.org/icons/coursera-icon.png" alt="es" width="80"> <br> <br>
                    <p style="text-align: justify">
                        Coursera es una plataforma de educación virtual nacida en octubre de 2011 y desarrollada por
                        académicos de la Universidad de Stanford con el fin de brindar oferta de educación masiva a la
                        población (Massive Online Open Course), con cursos en inglés y otros idiomas como el español,
                        francés, italiano y chino. Coursera ofrece cursos, tanto gratuitos como de pago, sobre temas
                        variados a niveles universitarios, pero abiertos a todos los sectores de la población.
                    </p>
                    <h3>
                        <a href="https://es.coursera.org/" target="_blank" >Visitar coursera</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Code Academy</h3>
                </div>
                <div class="box-body text-center">
                    <img src="http://about.joederose.us/online_logos/Codecademy.png" alt="es" width="80"> <br> <br>
                    <P style="text-align: justify">Codecademy, una empresa dedicada a la educación, no es una empresa como
                        la que seguramente te imaginás. En Codecademy nos comprometemos con el desarrollo de la mejor
                        experiencia de aprendizaje tanto en los Estados Unidos como en el exterior, que haga de
                        Codecademy el mejor lugar para que nuestro equipo aprenda, enseñe y cree la educación en línea
                        del futuro.</p>
                    <h3>
                        <a href="https://www.codecademy.com/es" target="_blank" >Visitar Codecademy</a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Edx</h3>
                </div>
                <div class="box-body text-center">
                    <img src="https://pbs.twimg.com/profile_images/717789136606928896/ddrecp7p.jpg" alt="es" width="80">
                    <p style="text-align: justify">
                        edX es una plataforma de cursos en línea
                        masivos y abiertos (MOOC) fundada por el Instituto Tecnológico de Massachusetts y la
                        Universidad de Harvard en mayo de 2012 para hospedar cursos en línea de nivel universitarios
                        de una amplio rango de disciplinas para todo el mundo sin costos para propiciar la
                        investigación y el aprendizaje.3​ EdX tiene más de 2 millones de usuarios.
                    </p>
                    <h3>
                        <a href="https://www.edx.org/es" target="_blank" >Visitar edx</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Codigo Facilito</h3> <br> <br>
                </div>
                <div class="box-body text-center">
                    <img src="https://pbs.twimg.com/profile_images/887180756119822336/hVyo05Dl.jpg" alt="es" width="80">
                    <br> <br>
                    <p style="text-align: justify"> Aprende a programar sitios web, desarrollo
                        frontend, backend, apps para Android, iOS, juegos y mucho más.</p>
                    <h3>
                        <a href="https://codigofacilito.com/" target="_blank" >Visitar Codigo facilito</a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Informacion cientifica</h3> <br> <br>
                </div>
                <div class="box-body text-center">
                    <img src="http://is1.mzstatic.com/image/thumb/Purple128/v4/b7/89/a4/b789a492-f81a-2f86-7de9-0e85c0b6024f/source/175x175bb.jpg" alt="es" width="80">
                    <br> <br>
                    <p style="text-align: center">Accede a millones de libros y documentos cientificos</p>
                        <div class="box-header with-border">
                            <h3 class="box-title">Credencial</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Usuario:</td>
                                    <td>Biblioteca</td>
                                </tr>
                                    <tr>
                                    <td>contraseña:</td>
                                    <td>utepsa2016</td>
                                </tr>
                        </table>
                     </div>
                    <h3>
                        <a target="_blank" href="http://www.utepsa.edu/v2/index.php?option=com_user&view=login&return=aHR0cDovL3d3dy51dGVwc2EuZWR1L3YyL2luZGV4LnBocD9vcHRpb249Y29tX2NvbnRlbnQmdmlldz1hcnRpY2xlJmlkPTQ4NyZJdGVtaWQ9Mjg2">
                            Visitar la biblioteca cientifica
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>