<div class="wrapper" ng-controller="DashboardController" style="background-color: #dd4b39">
    <div ng-show="showMessage" class="swiper-container" id="swipe" style="background-color: #dd4b39">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-color: #dd4b39">
                <div>
                    <div class="text-center" style="background-color: #dd4b39;  min-height: 100%; top: 0; left: 0">
                        <div style="padding-top: 40px; margin-left: 0">
                            <i class="icon-utepsa-logo"></i>
                        </div>
                        <div style="padding-bottom: 10px">
                            <h3 style="color: white ">Bienvenido a UTEPSA Móvil</h3>
                        </div>
                    </div>
                    <div class="storytellingContent" style="margin-top: 20px">
                        <h3 style="text-align: left">Hola</h3>
                        <p style="text-align: justify">La aplicación te mantendrá informado sobre tu vida universitaria y todos los eventos realizados por la comunidad Utepsa.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-color: #dd4b39">
                <div>
                    <img src="images/noticias.webp" id="slide">
                    <div class="storytellingContent">
                        <p style="text-align: justify">Notificaciones para que estes informado en todo lugar.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-color: #dd4b39">
                <div>
                    <img src="images/programacionsemestral.webp" id="slide">
                    <div class="storytellingContent">
                        <p style="text-align: justify">Programación semestral donde puedes visualizar tus materias programadas en cualquier modulo.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-color: #dd4b39">
                <div>
                    <img src="images/historialdenotas.webp" id="slide">
                    <div class="storytellingContent">
                        <p style="text-align: justify">Historial de notas para que estés pendiente de tu avance académico.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-color: #dd4b39">
                <div>
                    <img src="images/documentos.webp" id="slide">
                    <div class="storytellingContent">
                        <p style="text-align: justify">Los documentos presentados al momento de inscribirte en la universidad y los que te falta por presentar.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-color: #dd4b39">
                <div>
                    <img src="images/estadofinanciero.webp" id="slide">
                    <div class="storytellingContent">
                        <p style="text-align: justify">Estado financiero para poder revisar tus deudas, pago pendientes y los métodos que necesitas para cancelar.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-color: #dd4b39">
                <div>
                    <img src="images/perfil.webp" id="slide">
                    <div class="storytellingContent">
                        <p style="text-align: justify">Puedes actualizar tus notas, programación de materias, estado financiero y documentación dirigiendote a tu perfil, y tener todos tus datos al alcance de tu mano.</p>
                    </div>
                </div>
                <button class="btn btn-primary btn-circle btn-lg" type="submit" style="z-index: 1; position: absolute ;right: 1%; bottom: 1%;" ng-click="changeState()">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next" style="background-image: none; margin-right: 20px">
            <i style="font-size: 55px" class="fa fa-chevron-circle-right"></i>
        </div>
        <div class="swiper-button-prev" style="background-image: none">
            <i style="font-size: 55px" class="fa fa-chevron-circle-left"></i>
        </div>
    </div>
    <!-- Main Header -->
    <header ng-if="!showMessage" class="main-header" header-template>

    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside ng-if="!showMessage" class="main-sidebar" sidebar-template>

    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div ng-if="!showMessage" class="content-wrapper" onclick="hideSidebar();"  ng-swipe-right="next($event)" ng-swipe-left="close($event)">
        <div ui-view>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <footer ng-if="!showMessage" class="main-footer">
    <!-- To the right -->
    <div class="pull-right">
      v0.10
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2017 UTEPSA.</strong>
    </footer>
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>

<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    });
    function ir (){
        $("#swipe").fadeOut();
    }
</script>