/**/
.input-group-btn .btn.btn-flat{
	background: #3c8dbc;
}
.input-group-btn .fa.fa-search{
	color: white;
}
.content .box.perfiles{
	border-color: #3c8dbc;
}
.box-body img.img-circle{
	width: 185px;
	padding: 5px;
	border: gray solid 3px;
}
/*historial de notas*/
.box-body .inner p{
	font-size: 11px;
}
@media(max-width:399px)
{
	.box-body .small-box .inner h3{
		font-size: 23px;
	}
	.box-body .small-box .inner p{
		font-size: 9px;
	}
}