<section class="content">

        <div ng-if="alertErrorNotification" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
            <h4><i class="icon fa fa-warning"></i>  {{messageAlertNotification}}</h4>
        </div>
        <div ng-if="!alertErrorNotification" class="row">
            <a class="col-md-3 col-sm-12 col-xs-12" ui-sref="financialState">
                <div class="box box-widget widget-user-2" style="margin: 0px; color: black">
                    <div class="widget-user-header" style="padding: 10px" ng-controller="StudentProfileController">
                        <span><b>Carrera: </b>{{studentProfile.career.name}}</span><br>
                        <span><b>Registro: </b>{{studentProfile.registerNumber}}</span>
                        <div ng-if="!studentProfile.name" class="overlay">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>
                <div class="box box-widget widget-user-2" style="color: white"   ng-controller="financialStateController">
                    <div class="widget-user-header" ng-class="{'red-status': financialStateOfStudent.data.delinquentBalance > 0 && financialStateOfStudent.data.debitBalance > 0,
                                                    'bg-yellow': (financialStateOfStudent.data.delinquentBalance > 0 && financialStateOfStudent.data.debitBalance == 0) ||
                                                                    (financialStateOfStudent.data.delinquentBalance == 0 && financialStateOfStudent.data.debitBalance > 0),
                                                     'bg-olive': financialStateOfStudent.data.delinquentBalance == 0 && financialStateOfStudent.data.debitBalance == 0 || alertErrorFinancialState}"
                         style="padding: 4px 0px 4px 10px;margin: 0px;">
                        <p class="text-center" style="margin: 0px" class="text-center" ng-if="financialStateOfStudent.data.delinquentBalance == 0 && financialStateOfStudent.data.debitBalance == 0 "><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><b> No tienes deudas pendientes. Gracias!</b></p>
                        <h3 class="text-center" style="margin: 0px" ng-if=" alertErrorFinancialState "><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> No tiene deudas pendientes.</h3>
                        <p class="text-center" style="margin: 0px" ng-if="financialStateOfStudent.data.delinquentBalance != 0 && financialStateOfStudent.data.debitBalance != 0 && alertErrorFinancialState == false || financialStateOfStudent.data.outstandingBalance"><b>Tienes Deudas Pendientes</b></p>
                        <p class="text-center" ng-if="financialStateOfStudent.data.expirationDate>0 && financialStateOfStudent.data.expirationDate==null && financialStateOfStudent.data.expirationDate==''"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Fecha a pagar: </b>{{financialStateOfStudent.data.expirationDate | date:'dd/MM/yyyy  ': 'UTC'}}</p>
                        <p class="text-center" ng-if="financialStateOfStudent.data.expirationDate<0 && financialStateOfStudent.data.expirationDate==null && financialStateOfStudent.data.expirationDate==''"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Fecha a pagar: </b>{{financialStateOfStudent.data.expirationDate | date:'dd/MM/yyyy  ': 'UTC'}}</p>
                        <p class="text-center" ng-if="financialStateOfStudent.data.expirationDate>0"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Fecha a pagar: </b>{{financialStateOfStudent.data.expirationDate | date:'dd/MM/yyyy  ': 'UTC'}}</p>
                        <div ng-if="spinnerFinancialState" class="overlay">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>
            </a>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <!-- small box -->
                <a ng-controller="coursesRegisteredController" ui-sref="coursesRegistered" style="color: white!important;">
                    <div class="small-box bg-aqua">
                            <div class="text-center">
                                <div ng-if="spinnerCoursesRegistered" class="overlay">
                                    <i class="fa fa-refresh fa-spin"></i>
                                </div>
                                <span style="font-size: 28px;padding-top: 10px;">Semestre: <b>{{currentSemester.data.semester}}</b> </span><br>
                                <span style="font-size: 28px;padding-top: 10px;">Modulo: <b>{{currentSemester.data.module}}</b></span>
                            </div>
                            <p class="small-box-footer">
                                Ver mi progamación
                                <i class="fa fa-arrow-circle-right"></i>
                            </p>
                    </div>
                </a>
            </div>
            <!--<div  class="col-md-3 col-sm-12 col-xs-12" >-->
                <!--<a ng-controller="coursesRegisteredController" ui-sref="coursesRegistered">-->
                    <!--<div style="color: white" class="box box-widget widget-user-2 current-state">-->
                        <!--<div class="text-center">-->
                            <!--<span style="font-size: 28px;padding-top: 10px;">Modulo {{currentSemester.data.module}}</span>-->
                            <!--<p class="text-center" style="padding-bottom: 7px; white-space:nowrap; overflow:hidden; text-overflow: ellipsis; ">Cursando...</p>-->
                        <!--</div>-->
                        <!--<div ng-if="spinnerCoursesRegistered" class="overlay">-->
                            <!--<i class="fa fa-refresh fa-spin"></i>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <div class="col-md-3 col-sm-12 col-xs-12">
                <a ui-sref="historyNotes">
                    <div class="info-box bg-olive" >
                        <span class="info-box-icon"><i class="fa fa-book"></i></span>
                        <div class="info-box-content" ng-controller="HistoryNotesController">
                            <span class="info-box-text">Materias aprobadas</span>
                            <span  ng-if="itemshistoryNotes.code==204" class="info-box-number">0/0</span>
                            <span  ng-if="itemshistoryNotes.code!=204" class="info-box-number">{{itemshistoryNotes.data.approved}}/{{itemshistoryNotes.data.total}}</span>
                            <div class="progress">
                                <div class="progress-bar" ng-style="{width : ( itemshistoryNotes.data.progressPercentage + '%' ) }"></div>
                            </div>
                            <span  ng-if="itemshistoryNotes.code==204" class="progress-description">
                                0% de la carrera <br>
                               Ninguna <b>materia</b> Registrada.
                            </span>
                            <span  ng-if="itemshistoryNotes.code!=204" class="progress-description">
                                {{itemshistoryNotes.data.progressPercentage| number : 2}}% de la carrera <br>
                            Promedio general: <b>{{itemshistoryNotes.data.average| number : 2 }}</b>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12" ng-controller="DocumentsStudentController" ng-show="numberDocuments() > 0">
                <a  ui-sref="documentsStudent">
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-files-o"></i></span>
                        <div class="info-box-content" >
                            <!-- Documentos para estudiantes bolivianos -->
                            <div ng-show=" numberDocuments() < 9">
                                <span class="info-box-text">Documentación</span>
                                <span class="info-box-number">{{numberOfMainDocumentsDelivered()}}/{{mainDocumentsForStudentsBolivians.length}}</span>
                                <div class="progress">
                                    <div class="progress-bar" ng-style="{width : ( percentageOfDocumentsForStudentsBolivians() + '%' ) }"></div>
                                </div>
                                <span class="progress-description">
                                    {{numberOfMainDocumentsDelivered()}} entregado de {{mainDocumentsForStudentsBolivians.length}}<br>
                                    <span ng-if="numberOfMainDocumentsDelivered() == 4">Todos los documentos entregados.</span>
                                    <span ng-if="numberOfMainDocumentsDelivered() < 4 ">Por favor entregar documentos.</span>
                                    <span ng-if="numberDocuments()==0 && numberDocumentsDelivered()==0">Ningun <b>documento</b> Registrado.</span>
                                </span>
                            </div>
                            <!-- Documentos para estudiantes extranjeros -->
                            <div ng-show="numberDocuments() > 8">
                                <span class="info-box-text">Documentación</span>
                                <span class="info-box-number">{{numberDocumentsDelivered()}}/{{numberDocuments()}}</span>
                                <div class="progress">
                                    <div class="progress-bar" ng-style="{width : ( percentageOfDocuments() + '%' ) }"></div>
                                </div>
                                <span class="progress-description">
                                    {{numberDocumentsDelivered()}} entregado de {{numberDocuments()}}<br>
                                    <span ng-if="numberDocumentsDelivered() >= numberDocuments() && numberDocuments()>0 && numberDocumentsDelivered()>0">Todos los documentos entregados.</span>
                                    <span ng-if="numberDocumentsDelivered() < numberDocuments() ">Por favor entregar documentos.</span>
                                    <span ng-if="numberDocuments()==0 && numberDocumentsDelivered()==0">Ningun <b>documento</b> Registrado.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div ng-if="!alertErrorNotification" class="row">
            <div class="col-md-6 col-sm-12 col-xs-12" ng-controller="NotificationsController">
                <div class="box box-danger">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title">Últimas noticias</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool"><i class="fa fa-minus iconCollapse"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" style="display: block;" >
                        <ul ng-if="!alertErrorNotification" class="nav nav-stacked">
                            <li ng-repeat="notification in notificationss |limitTo:3 track by notification.id">
                                <a ui-sref="notifications">
                                    <div>
                                        <i class="fa fa-newspaper-o"></i> &nbsp;{{notification.content}}
                                    </div>
                                    <div class="text-right" style="margin-top: 14px;">
                                        <span style="color: grey;" class="time"><i class="fa fa-clock-o"></i> <span am-time-ago="notification.dateCreation *1000 | date: 'dd MMMM yyyy, HH:mm' : 'UTC' "></span></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <p ng-if="alertErrorNotification" class="text-center">{{messageAlertNotification}}</p>
                    </div>
                    <div ng-if="spinnerNotificationsInDashboard" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="box box-danger">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title">Descargas</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool"><i class="fa fa-minus iconCollapse"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body ">
                        <ul ng-if="!alertErrorFile" class="nav nav-stacked">
                            <li ng-repeat="file in files track by file.id">
                                <span class="row">
                                    <!-- Descarga Android -->
                                    <a class="col-md-10 col-sm-10 col-xs-10" ng-show="itsChrome" ng-click="DownloadFile(file.url)">
                                        <img ng-if="file.type.id==1" src="images/PDF.png" width="6%">
                                        <img ng-if="file.type.id==2" src="images/DOC.png" width="6%">
                                        <img ng-if="file.type.id==3" src="images/XLS.png" width="6%">
                                        <img ng-if="file.type.id==4" src="images/PPT.png" width="6%">
                                        <img ng-if="file.type.id==5" src="images/JPG.png" width="6%">
                                        <img ng-if="file.type.id==7" src="images/WWW.png" width="6%">
                                        &nbsp;&nbsp;{{file.name}}
                                    </a>
                                    <!-- Descarga IOS -->
                                    <a class="col-md-10 col-sm-10 col-xs-10" ng-show="!itsChrome" href="{{file.url}}" target="_blank">
                                        <img ng-if="file.type.id==1" src="images/PDF.png" width="6%">
                                        <img ng-if="file.type.id==2" src="images/DOC.png" width="6%">
                                        <img ng-if="file.type.id==3" src="images/XLS.png" width="6%">
                                        <img ng-if="file.type.id==4" src="images/PPT.png" width="6%">
                                        <img ng-if="file.type.id==5" src="images/JPG.png" width="6%">
                                        <img ng-if="file.type.id==7" src="images/WWW.png" width="6%">
                                        &nbsp;&nbsp;{{file.name}}
                                    </a>
                                    <span class="text-center col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-placement="top" title="{{file.description}}">
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </span>
                                </span>
                            </li>
                        </ul>
                        <p ng-if="alertErrorFile" class="text-center">{{messageAlertFile}}</p>
                    </div>
                    <div ng-show="spinnerFile" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
</section>