<div>
    <div ng-show="spinnerUserManagement">
        <div class="overlays"></div>
    </div>
    <section class="content-header">
        <h1><i class="fa fa-user"></i>
            Administración de Usuarios
        </h1>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="searchStudents"><i class="fa fa-dashboard"></i>Inicio</a>
            </li>
            <li class="active"><i class="fa fa-user margin-r-5"></i>Administración de Usuarios</li>
        </ol>
    </section>
    <section class="content" ng-controller="permissionController">
        <div class="row">
            <div class="col-xs-10 col-sm-6 col-lg-4">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="nombre.profile.name" placeholder="Nombres">
                        <span class="input-group-btn">
                    </span>
                        <div class="col-xs-12">
                            <button ng-if="createUser" type="button" class="btn btn-primary" ng-click="newUser()">
                                <i class="fa fa-user-plus margin-r-5"></i> Nuevo usuario
                            </button>
                        </div>
                    </div>
                </form>
                <br>
            </div>
            <div ng-if="itemUsersPermissions.status == -1 || resultDeleteAdministrator.status == -1" class="col-xs-12 col-sm-6 col-lg-5">
                <div class="alert alert-danger alert-dismissible" style="text-align: left; padding: 6px" >
                    <p><i class="icon fa fa-ban"></i>Problema de conexión</p>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box perfiles">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Ocupación</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Editar</th>
                                    <th>Permisos</th>
                                    <th>Eliminar</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="users in searchUsersPermissions | filter: nombre">
                                <tr>
                                    <td>{{users.username}}</td>
                                    <td>{{users.profile.name}}</td>
                                    <td>{{users.profile.fatherLastname}}  {{users.profile.motherLastname}}</td>
                                    <td>{{users.profile.ocupation}}</td>
                                    <td>{{users.profile.phoneNumber}}</td>
                                    <td>{{users.profile.email}}</td>
                                    <td>

                                        <button ng-if="updateUser" type="button" class="btn btn-info" data-toggle="modal" ng-click="editUser(users)" style="background-color: #367fa9">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <buttton ng-if="queryPermissionsUser" type="button" class="btn btn-flat-info" data-toggle="modal" ng-click="showPermissions(users)" style="background-color: #367fa9">
                                            <i class="fa fa-gear" style="color: #ffffff;"></i>
                                        </buttton>
                                    </td>
                                    <td>
                                        <button ng-if="deleteUser" type="button" class="btn btn-info" ng-click="confirmDeleteUser(users.id)" style="background-color: #367fa9">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal editar usuario -->
        <div  id="editarUsuario" class="modal fade" style="padding-right: 0">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                            <span aria-hidden="true">x</span>
                        </button>
                        <h4 class="modal-title text-center">Editar Usuario</h4>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <div class="box-body table-responsive no-padding">
                                <table class="table tale-hover">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <label for="nombres">Nombres</label>
                                            <input type="text" id="nombres" ng-model="userBuffer.profile.name" class="form-control">
                                        </td>
                                        <td>
                                            <label for="apellidoPaterno">Apellido Paterno</label>
                                            <input type="text" id="apellidoPaterno" ng-model="userBuffer.profile.fatherLastname" class="form-control">
                                        </td>
                                        <td>
                                            <label for="ocupacion">Ocupación</label>
                                            <input type="text" id="ocupacion" ng-model="userBuffer.profile.ocupation" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="telephone">Teléfono</label>
                                            <input type="text" id="telephone" ng-model="userBuffer.profile.phoneNumber" class="form-control">
                                        </td>
                                        <td>
                                            <label for="apellidoMaterno">Apellido Materno</label>
                                            <input type="text" id="apellidoMaterno"  ng-model="userBuffer.profile.motherLastname" class="form-control">
                                        </td>
                                        <td>
                                            <label for="Email">Email</label>
                                            <input type="text" id="Email" ng-model="userBuffer.profile.email" class="form-control">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="saveUser(userBuffer)">Guardar</button>
                        <div ng-if="resultPutAdministrator.status == -1 " class="col-xs-8">
                            <div class="alert alert-danger alert-dismissible" style="text-align: left; padding: 6px">
                                <p><i class="icon fa fa-ban"></i> Problemas de conexión </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de confirmacion de eliminacion -->
        <div id="confirmacionParaEliminar" class="modal fade">
            <div class="modal-dialog" style="margin-top: 20em; margin-left: auto; margin-right: auto;width: 20em;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Desea eliminar el usuario?</h4>
                    </div>
                    <div class="modal-body text-right">
                        <buton class="btn btn-primary" ng-click="deleteUserSelectedInUserManagement()">Eliminar</buton>
                    </div>
                </div>
            </div>
        </div>
        <!--modal de eliminacion-->
        <div id="seEliminoConExito" class="modal fade" ng-if="!alertError" style="padding-right: 0">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center"><i class="fa fa-info"></i> Éxito</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Se ha eliminado con éxito</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="seEliminoConExito" class="modal modal-danger fade" ng-if="alertError">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center"><i class="icon fa fa-ban"></i>Error</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">{{messageAlert}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal de verificacion de cambios -->
        <div id="seCambioConExito" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center"><i class="fa fa-info"></i> Éxito</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Se han guardado con éxito los datos</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal nuevo usuario -->
        <div id="nuevoUsuario" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-center">Nuevo usuario</h3>
                    </div>
                    <form name="userForm" novalidate>
                        <div class="modal-body">
                            <div>
                                <fieldset>
                                    <legend>
                                        Perfil
                                    </legend>
                                    <div class="col-xs-12 ">
                                        <label for="nombresP">Nombres:</label><input id="nombresP" type="text" ng-model="newUsers.profile.name" class="form-control" required placeholder="Nombres"> <br>
                                        <label for="apellidoPaternoP">Apellido paterno:</label><input id="apellidoPaternoP" type="text" ng-model="newUsers.profile.fatherLastname" class="form-control" required placeholder="Apellido paterno"> <br>
                                    </div>
                                    <div class="col-xs-12">
                                        <label for="apellidoMaternoP">Apellido materno:</label><input id="apellidoMaternoP" type="text" ng-model="newUsers.profile.motherLastname" class="form-control" required placeholder="Apellido materno"><br>
                                        <label for="telefonoP">Teléfono:</label><input id="telefonoP" type="text" ng-model="newUsers.profile.phoneNumber" class="form-control"  required placeholder="Teléfono"> <br>
                                    </div>
                                    <div class="col-xs-12">
                                        <label for="emailP">Email:</label><input id="emailP" type="email" ng-model="newUsers.profile.email" class="form-control" required placeholder="Email"><br>
                                        <label for="ocupacionP">Ocupación:</label><input id="ocupacionP" type="text" ng-model="newUsers.profile.ocupation" class="form-control" required placeholder="Ocupación"><br>
                                    </div>
                                    <div class="col-xs-12">
                                        <label for="rolP">Rol: </label>
                                        <select ng-model="roleSelected" required id="rolP" class="form-control">
                                            <option value="">-- Elija una opción --</option>
                                            <option ng-repeat="roles in role" value="{{roles.id}}">{{roles.name}}</option>
                                        </select>
                                    </div>
                                    <div style="margin-top: 20px" class="col-xs-12">
                                        <label  for="changePasswordForced">Forzar cambio de contraseña: </label><br>
                                        <input  id="changePasswordForced" type="checkbox"  ng-model="changePasswordForced" >
                                    </div>
                                </fieldset>
                                <br>
                                <fieldset>
                                    <legend>
                                        Credenciales
                                    </legend>
                                    <label for="usuarioP">Usuario</label>
                                    <input type="text" id="usuarioP" ng-model="userName" class="form-control" required placeholder="Usuario">
                                </fieldset>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class=" col-xs-9" ng-if="alertError">
                                <div class="alert alert-danger alert-dismissible" style="text-align: left; padding: 6px" >
                                    <p><i class="icon fa fa-ban"></i>{{messageAlert}}</p>
                                </div>
                            </div>
                            <button class="btn btn-primary" ng-click="saveNewUser(newUsers,roleSelected,changePasswordForced,userName)">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- modal de permisos -->
        <div id="permisosDeUsuario" class="modal fade">
            <div class="modal-dialog">
                <div  class="modal-content">
                    <div class="modal-header" >
                        <h4 class="box-title text-center">Nombre: {{selectedUserPermissions.profile.name}} {{selectedUserPermissions.profile.fatherLastname}} {{selectedUserPermissions.profile.motherLastname}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped ">
                                <thead>
                                <th>Permisos del usuario</th>
                                </thead>
                                <tbody ng-if="!alertError" ng-repeat="permissions in permissionsOfUser">
                                <tr>
                                    <td> {{permissions.permission.name}}</td>
                                    <td><input type="checkbox"  ng-model="permissions.state" ng-disabled="modifyPermissions == false" ></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer" ng-if="!alertError">
                        <div class=" col-xs-6">
                            <div class="alert alert-danger alert-dismissible" ng-if="alertError" style="text-align: left">
                                <h4><i class="icon fa fa-ban"></i>Error</h4>{{messageAlert}}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-primary" ng-click="savePermissionsChanges(permissionsBuffer)" ng-hide="modifyPermissions == false">Guardar</button>
                            <button ng-if="updatePermissionsUser" class="btn btn-primary" ng-click="editPermissions(permissionsOfUser)" ng-hide="modifyPermissions">Editar</button>
                        </div>
                    </div>
                    <div class="modal-footer" ng-if="alertError">
                        <div class=" col-xs-12">
                            <div class="alert alert-danger alert-dismissible" style="text-align: left">
                                <h4><i class="icon fa fa-ban"></i>Error</h4>{{messageAlert}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal de editar permisos -->
        <div id="editarpermisosDeUsuario" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" >
                        <h4 class="box-title text-center">Nombre: {{selectedUserPermissions.profile.name}} {{selectedUserPermissions.profile.fatherLastname}} {{selectedUserPermissions.profile.motherLastname}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                <th>Permisos del usuario</th>
                                </thead>
                                <tbody ng-if="!alertError" ng-repeat="permissions in permissionsBuffer">
                                <td> {{permissions.permission.name}}</td>
                                <td><input type="checkbox"  ng-model="permissions.state" ng-disabled="modifyPermissions == false" ></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer" ng-if="!alertError">
                        <div class=" col-xs-6">
                            <div class="alert alert-danger alert-dismissible" ng-if="alertError" style="text-align: left">
                                <h4><i class="icon fa fa-ban"></i>Error</h4>{{messageAlert}}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-primary" ng-click="savePermissionsChanges(permissionsBuffer)">Guardar</button>
                        </div>
                    </div>
                    <div class="modal-footer" ng-if="alertError">
                        <div class=" col-xs-12">
                            <div class="alert alert-danger alert-dismissible" style="text-align: left">
                                <h4><i class="icon fa fa-ban"></i>Error</h4>{{messageAlert}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>