
<section class="content-header">
    <h1>
        <i class="fa fa-pie-chart "></i>
        Reporte Anual
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="dashboard" ><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active"><i class="fa fa-pie-chart margin-r-5"></i>Reporte Anual</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <input type="number" class="form-control" ng-model="year" placeholder="Año">
            <br>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <select class="form-control" ng-model="careerSelected">
                <option value="">Seleccione una Carrera:</option>
                <option ng-repeat="career in  careers.data " value="{{career.id}}">{{career.name}}</option>
            </select>
            <br>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <button ng-class="{'disabled': careerSelected == undefined}" ng-click="getReportByYear(careerSelected, year)" class="btn btn-primary">Enviar</button>
        </div>
    </div>
    <div class="row" style="margin-top: 10px" ng-if="!alertError">
        <div ng-if="spinnerReportByYear" class="text-center" style="font-size: 30px">
            <div class="overlay" >
                <i class="fa fa-refresh fa-spin" style="color: black;"></i>
            </div>
            <p class="text-center">Cargando...</p>
        </div>
        <div ng-if="!spinnerReportByYear && spinnerReportByYear != undefined" class="col-xs-12">
            <div class="box perfiles">
                <div class="box-header">
                        <h3 class="box-title">INFORME DE GESTIÓN ACADÉMICA</h3>
                </div>
                <div id="generatePDF" class="box-body">
                    <p><strong>1. DATOS GENERALES DE LA CARRERA</strong></p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th></th>
                                <th>{{years.lessTwoYears}}</th>
                                <th>{{years.lessOneYears}}</th>
                                <th>{{years.year}}</th>
                            </tr>
                            <tr>
                                <th>Cantidad de estudiantes actuales presencial</th>
                            </tr>
                            <tr>
                                <td>Primer semestre</td>
                                <td>{{dataReportByYear.numberOfStudentsInFirstSemester.yearnumber3}}</td>
                                <td>{{dataReportByYear.numberOfStudentsInFirstSemester.yearnumber2}}</td>
                                <td>{{dataReportByYear.numberOfStudentsInFirstSemester.yearnumber1}}</td>
                            </tr>
                            <tr>
                                <td>Segundo semestre</td>
                                <td>{{dataReportByYear.numberOfStudentsInSecondSemester.yearnumber3}}</td>
                                <td>{{dataReportByYear.numberOfStudentsInSecondSemester.yearnumber2}}</td>
                                <td>{{dataReportByYear.numberOfStudentsInSecondSemester.yearnumber1}}</td>
                            </tr>
                            <tr>
                                <td>Verano</td>
                                <td>{{dataReportByYear.numberOfStudentsInSummer.yearnumber3}}</td>
                                <td>{{dataReportByYear.numberOfStudentsInSummer.yearnumber2}}</td>
                                <td>{{dataReportByYear.numberOfStudentsInSummer.yearnumber1}}</td>
                            </tr>
                            <tr>
                                <td>Invierno</td>
                                <td>{{dataReportByYear.numberOfStudentsInWinter.yearnumber3}}</td>
                                <td>{{dataReportByYear.numberOfStudentsInWinter.yearnumber2}}</td>
                                <td>{{dataReportByYear.numberOfStudentsInWinter.yearnumber1}}</td>
                            </tr>
                            <tr>
                                <td>Total de estudiantes en la gestión</td>
                                <td>{{dataReportByYear.numberOfStudentsByYear.yearnumber3}}</td>
                                <td>{{dataReportByYear.numberOfStudentsByYear.yearnumber2}}</td>
                                <td>{{dataReportByYear.numberOfStudentsByYear.yearnumber1}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <p><strong>2. INDICADORES ACADÉMICOS DE RENDIMIENTO</strong></p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th></th>
                                <th>{{years.lessTwoYears}}</th>
                                <th>{{years.lessOneYears}}</th>
                                <th>{{years.year}}</th>
                            </tr>
                            <tr>
                                <td style="width: 67%">Promedio de notas sobre 100</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Porcentaje de aprobados</td>
                                <td>{{dataOfPercentageApprovedByCareer.percentageOfLessTwoYear}}</td>
                                <td>{{dataOfPercentageApprovedByCareer.percentageOfLessOneYear}}</td>
                                <td>{{dataOfPercentageApprovedByCareer.percentageOfYear}}</td>
                            </tr>
                            <tr>
                                <td>Porcentaje de reprobados</td>
                                <td>{{dataOfPercentageDisapprovedByCareer.percentageOfLessTwoYear}}</td>
                                <td>{{dataOfPercentageDisapprovedByCareer.percentageOfLessOneYear}}</td>
                                <td>{{dataOfPercentageDisapprovedByCareer.percentageOfYear}}</td>
                            </tr>
                            <tr>
                                <td>Porcentaje de abandonos</td>
                                <td>{{dataOfPercentageAbandonedByCareer.percentageOfLessTwoYear}}</td>
                                <td>{{dataOfPercentageAbandonedByCareer.percentageOfLessOneYear}}</td>
                                <td>{{dataOfPercentageAbandonedByCareer.percentageOfYear}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    <button ng-click="exportToPDFButton()" class="btn btn-primary pull-right">
                        <i class="fa fa-download margin-r-5"></i>
                        Exportar a PDF
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="alertError" class="row">
        <br>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="alert alert-danger" style="padding-bottom: 0; padding-top: 5px">
                <h4>
                    <i class="icon fa fa-ban margin-r-5"></i>
                    {{messageError}}
                </h4>
            </div>
        </div>
    </div>
</section>

