<div ng-if="spinnerOfGetStudent || spinnerGetCourseOffered ">
    <div class="overlays"></div>
</div>
<div ng-if="!spinnerOfGetStudent">
    <section class="content-header" xmlns="http://www.w3.org/1999/html">
        <h1>
            <i class="fa fa-pencil-square-o"></i>
            Materias Ofertadas
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6" style="margin-bottom: 10px">
                            <label> Seleccione el modulo del semestre: </label>
                            <select class="form-control" ng-change="getOffered(dataOfStudent, module)" ng-model="module">
                                <option value="0"> 0 </option>
                                <option value="1"> 1 </option>
                                <option value="2"> 2 </option>
                                <option value="3"> 3 </option>
                                <option value="4"> 4 </option>
                                <option value="5"> 5 </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="materialsOffered.length > 0">
            <div class="col-xs-12">
                <table class="table table-hover animated fadeInLeft" style="background-color: white">
                    <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Horario</th>
                    </tr>
                    </thead >
                    <tr dir-paginate=" materials in materialsOffered | orderBy: ['schedule.schedule'] | filter: ref | itemsPerPage: 10"
                        style="cursor: pointer; overflow-x: scroll" ng-click="showInformationMaterialsOffered(materials)">
                        <td>{{materials.course.name}}</td>
                        <td>{{materials.schedule.schedule}}</td>
                    </tr>
                </table>
                <dir-pagination-controls></dir-pagination-controls>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5" ng-if="alert">
                <div class="alert alert-warning alert-dismissable" style="padding: 5px">
                    <h4><i class="icon fa fa-warning margin-r-5"></i>{{messageAlert}}</h4>
                </div>
            </div>
        </div>
    </section>
</div>
