
<div ng-show="spinnerDashboard">
    <div class="overlays"></div>
</div>
<section class="header">
    <h1 class="text-center">
        Reporte General
    </h1>
</section>

<section class="content" ng-show="!spinnerDashboard">
    <div ng-if="alertError" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
        <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
    </div>
    <div ng-if="!alertError">
        <div class="row">
            <div class="col-md-3 col-xs-6 col-sm-6">
                <div class="small-box bg-aqua-active">
                    <div class="inner">
                        <h3>{{executeReport.semester}}</h3>
                        <p>Semestre Activo</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-calendar-outline"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{executeReport.total}}</h3>
                        <p>Total Estudiantes Inscritos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{executeReport.totalActive}}</h3>
                        <p>Estudiantes Activos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{average}}</h3>
                        <p>Promedio General</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-list"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="box-title"> <b>Promedio</b> por Carrera </h4>
                    </div>
                    <div class="panel-body">
                        <canvas class="chart-horizontal-bar" chart-data="averageData" chart-labels="averageCareerName" chart-series="averageCarrerSerie" chart-colors = "colorsOfAverageByCareer">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"> <h4 class="box-title"> Estudiantes <b>Inscritos</b> por Modulo</h4>
                    </div>
                    <div class="panel-body">
                        <div>
                            <canvas style="display: block; max-width: 1000px; max-height: 500px; margin: auto" id="barGeneral" class="chart chart-bar chart-xs "
                                    chart-data="dataStudentsModulesByReportGeneral" chart-labels="labelsStudentsModulesByReportGeneral" width="333" height="166">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 pull-left">
                <div class="form-group">
                    <select ng-change="studentsByModule(selectedCareer)"  class="form-control btn btn-primary " ng-model="selectedCareer"  style="width: 100%; background-color: #3c8dbc" aria-hidden="true">
                        <option value="">Seleccione una Carrera:</option>
                        <option ng-repeat="careers in  careersByGrade.data " value="{{careers.id}}">{{careers.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div ng-show="spinnerReportStudentByModule" class="text-center" style="font-size: 30px">
            <div class="overlay" >
                <i class="fa fa-refresh fa-spin" style="color: black;"></i>
            </div>
            <div>
                <p style="color: black">Cargando...</p>
            </div>
        </div>
        <div ng-show="!loadResource && !spinnerReportStudentByModule" class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="box-title"> Estudiantes Hombres y Mujeres <b>Inscritos</b> por Carrera </h4>
                    </div>
                    <div class="panel-body">
                        <div ng-show="!alertErrorStudent">
                            <canvas style="display: block; width: 333px; height: 166px" id="polar-area1" class="chart chart-polar-area chart-xs "
                                    chart-data="dataStudents" chart-labels="labelsStudents" chart-type="type" width="333" height="166">
                            </canvas>
                            <hr>
                            <div class="text-center row">
                            <span class="col-xs-6">
                                <i class="fa fa-circle-o text-gray"></i>
                                Estudiantes mujeres: {{studentCareerWoman}}
                            </span>
                                <span class="col-xs-6">
                                <i class="fa fa-circle-o text-blue"></i>
                                Estudiantes hombres: {{studentCareerMan}}
                            </span>
                            </div>
                        </div>
                        <div ng-show="alertErrorStudent" class="alert alert-danger alert-dismissable">
                            <h4><i class="icon fa fa-ban"></i> {{messageAlerStudent}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> <h4 class="box-title"> Estudiantes Hombres y Mujeres <b>Activos</b> por Carrera </h4>
                    </div>
                    <div class="panel-body">
                        <div ng-show="!alertErrorStudentActive">
                            <canvas style="display: block; width: 333px; height: 166px" id="polar-area2" class="chart chart-pie chart-xs "
                                    chart-data="dataActiveStudents" chart-labels="labelsActiveStudents" chart-type="type" width="333" height="166">
                            </canvas>
                            <hr>
                            <div class="text-center row">
                                <span class="col-xs-6">
                                    <i class="fa fa-circle-o text-gray"></i>
                                    Estudiantes mujeres: {{studentActiveWoman}}
                                </span>
                                    <span class="col-xs-6">
                                    <i class="fa fa-circle-o text-blue"></i>
                                    Estudiantes hombres: {{studentActiveMan}}
                                </span>
                            </div>
                        </div>
                        <div ng-show="alertErrorStudentActive" class="alert alert-danger alert-dismissable">
                            <h4><i class="icon fa fa-ban"></i> {{messageAlerStudentActive}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Estudiantes de la Carrera</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <article class="tile">
                                    <div class="tile-icon full-reset text-center">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="tile-name">Estudiantes Registrados</div>
                                    <div class="tile-num full-reset text-center">{{studentsPerCareer}}</div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <article class="tile">
                                    <div class="tile-icon full-reset text-center">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="tile-name">Estudiantes Activos</div>
                                    <div class="tile-num full-reset text-center">{{studentActive}}</div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!loadResource" class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"> <h4 class="box-title"> Estudiantes <b>Inscritos</b> por Modulo de su Carrera </h4>
                    </div>
                    <div class="panel-body">
                        <div ng-show = "!alertErrorStudent">
                            <canvas style="display: block; max-width: 1000px; max-height: 500px; margin: auto" id="bar" class="chart chart-bar chart-xs "
                                    chart-data="dataStudentRegisterPerModule" chart-labels="labelsModule" chart-click = 'courseModule'width="333" height="166">
                            </canvas>
                        </div>
                        <div ng-show="alertErrorStudent" class="alert alert-danger alert-dismissable">
                            <h4><i class="icon fa fa-ban"></i> {{messageAlerStudent}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if = "showItemsOfCourseMoudule" class="col-xs-12 col-sm-12 col-md-6 animated fadeIn">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="box-title"> <b>Distribución</b> de alumnos en el modulo </h4></div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead style="color: #3c8dbc;">
                            <tr>
                                <th>Nombre de la Materia</th>
                                <th class="truncate">Estudiantes Registrados</th>
                                <th>Grupo</th>
                                <th>Horario</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate = "items in itemsCourseModule | orderBy: 'scheduleCourse' | itemsPerPage: 5">
                                <td>{{items.courseName}}</td>
                                <td>{{items.studentRegister}}</td>
                                <td>{{items.courseGroup}}</td>
                                <td>{{items.scheduleCourse}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show = "loadResource && !spinnerReportStudentByModule ">
            <div class="col-md-8 col-sm-0 col-xs-0"></div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="callout callout-warning">
                    <h4>
                        <i class="fa fa-info-circle"></i>
                        Información
                    </h4>
                    <p>Seleccione una carrera para mostrar los diferentes graficos.</p>
                </div>
            </div>
        </div>
    </div>
</section>