
    <!-- Logo -->
    <a ui-sref="dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><span class="icon-utepsa"></span></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><span class="icon-utepsa-logo"></span><b>UTEPSA</b> Móvil</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a  class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <!-- <li class="dropdown messages-menu"> -->
            <!-- Menu toggle button -->
            <!-- <a href class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li> -->
                <!-- inner menu: contains the messages -->
               <!--  <ul class="menu"> -->
                 <!--  <li> --><!-- start message -->
                    <!-- <a href>
                      <div class="pull-left"> -->
                        <!-- User Image -->
                      <!--   <img src="images/avatar.png" class="img-circle" alt="User Image">
                      </div> -->
                      <!-- Message title and timestamp -->
                      <!-- <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4> -->
                      <!-- The message -->
                     <!--  <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li> -->
                  <!-- end message -->
                <!-- </ul> -->
                <!-- /.menu -->
              <!-- </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li> -->
          <!-- /.messages-menu -->

          <!-- Notifications Menu -->
          <!-- <li class="dropdown notifications-menu"> -->
            <!-- Menu toggle button -->
            <!-- <a href class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li> -->
                <!-- Inner Menu: contains the notifications -->
               <!--  <ul class="menu"> -->
                  <!-- <li> --><!-- start notification -->
                   <!--  <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li> -->
                  <!-- end notification -->
               <!--  </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li> -->
          <!-- User Account Menu -->
          <li class="dropdown user user-menu" ng-controller="StudentProfileController">
            <!-- Menu Toggle Button -->
            <a  class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img  src="http://www.utepsa.edu/miutepsa/imagenes/faces/{{initRegisterStudent}}/{{photoRegisterStudent}}.jpg" onerror="imagenError()" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{studentProfile.name}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="http://www.utepsa.edu/miutepsa/imagenes/faces/{{initRegisterStudent}}/{{photoRegisterStudent}}.jpg" onerror="imagenError()" class="img-circle" alt="User Image">
                <p>
                    {{studentProfile.career.name}}
                  <small>Facultad: &nbsp; "{{studentProfile.career.faculty.name}}"</small>
                </p>
              </li>
              <!-- Menu Body -->
              <!-- <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Seguidores</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Módulo</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Amigos</a>
                  </div>
                </div> -->
                <!-- /.row -->
              <!-- </li> -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a ui-sref="studentProfile" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                    <a href ng-click="logout()" class="btn btn-default btn-flat">Cerrar sesión</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>