<section class="content-header">
    <h1><i class="fa fa-tags"></i>
        Materias ofertadas
    </h1>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="searchStudents"><i class="fa fa-home"></i>Inicio</a>
        </li>
        <li class=" active">
            <i class="fa fa-tags"></i>
            Materias ofertadas
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box perfiles">
                <div class="box-header">

                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6" style="margin-bottom: 10px">
                            <label> Buscar por: </label>
                            <select class="form-control" ng-change="checkSelection(optionSelect)" ng-model="optionSelect">
                                <option value=""> -- ELIJA UNA OPCION DE BUSQUEDA -- </option>
                                <option value="areaAcademica"> AREA ACADEMICA </option>
                                <option value="carrera"> CARRERA </option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6" style="margin-bottom: 10px">
                            <label> Semestre Actual: </label>
                            <input ng-model="semester" type="text" class="form-control" placeholder="Ej. 2017-1">
                        </div>
                    </div>
                    <div class="row" ng-show="academicArea">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <label> Area Academica: </label>
                            <select class="form-control" ng-model="idAcademicArea">
                                <option value=""> -- ELIJA UN AREA ACADEMICA -- </option>
                                <option ng-repeat="items in itemsAcademicArea.data.data" value="{{items.id}}">{{items.description}}</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6" style="margin-top: 1.8em">
                            <button class="btn btn-primary pull-left" ng-click="getGroupsOfferedAcadeicArea(idAcademicArea, semester)">Enviar</button>
                        </div>
                        <div class="col-xs-12 col-sm-6" ng-show="AlertErrorGroupsOfferedAcademicArea">
                            <div class="alert alert-danger alert-dismissable" style="padding: 6px; margin-top: 10px">
                                <h4 style="margin: auto;">
                                <i class="icon fa fa-ban"></i>
                                {{messageAlert}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="career">
                        <div class="col-xs-12 col-sm-12 col-md-6" style="margin-bottom: 10px">
                            <label> Carrera: </label>
                            <select class="form-control" ng-model = "idCareer">
                                <option ng-repeat="careers in itemsCareers.data" value="{{careers.id}}">{{careers.name}}</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6" style="margin-bottom: 10px">
                            <label> Módulo: </label>
                            <input ng-model="module" type="text" class="form-control" placeholder="Módulo">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <label> Pensum: </label>
                            <input type="text" class="form-control" ng-model="pensum" placeholder="Pensum">
                            <br>
                            <button type="button" class="btn btn-primary" ng-click="getGroupsOfferedCareer(idCareer, pensum, semester, module)">Enviar</button>
                        </div>
                        <div class="col-xs-12col-sm-6 col-md-6"  ng-show="AlertErrorGroupsOfferedCareer">
                            <div class="alert alert-danger alert-dismissable" style="padding: 7px; margin-top: 24px">
                                <h4 style="margin: auto; color: white;">
                                    <i class="icon fa fa-ban"></i>
                                    {{messageAlert}}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="text-center" style="font-size: 30px">
        <div ng-show="spinnerGroupsOffered" class="overlay">
            <i class="fa fa-refresh fa-spin" style="color: black;"></i>
            <br>
        </div>
        <div ng-show="spinnerGroupsOffered">
            <p style="color: black">Cargando...</p>
        </div>
    </div>
    <div class="row" ng-show="academicArea">
        <div class="col-xs-12" ng-show="!AlertErrorGroupsOfferedAcademicArea">
            <div ng-show="spinnerGroupsOfferedAcademicArea && !spinnerGroupsOffered" class="box perfiles">
                <div class="box-header">
                    <h3 class="box-title col-xs-12 col-sm-12 col-md-4" style="padding-right: 0; width: auto">
                        <b>Ordenar por:</b> <br> <br>
                    </h3>
                    <h3 class="box-title col-xs-12 col-sm-12 col-md-8">
                        <a ng-class="{'backgroundColorCLick': stateColorOfGroupsOffered == 1}" ng-click="columna = 'course.name'; changeColorState('course.name')" style="cursor: pointer; padding: 5px">Materia</a>
                        <a ng-class="{'backgroundColorCLick': stateColorOfGroupsOffered == 3}" ng-click="columna = 'module'; changeColorState('module')"  style="cursor: pointer; margin-left: 8px; padding: 5px">Módulo</a>
                        <a ng-class="{'backgroundColorCLick': stateColorOfGroupsOffered == 4}" ng-click="columna = 'group'; changeColorState('group')"  style="cursor: pointer; padding: 2px; margin-left: 8px">Grupo</a>
                    </h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px">
                            <input type="text" ng-model="buscar"  class="form-control pull-right" placeholder="Buscar">
                            <div class="input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Siglas</th>
                            <th>Nombre</th>
                            <th>Área</th>
                            <th>Grupo</th>
                            <th>Aula</th>
                            <th>Número de inscritos</th>
                            <th>Docente</th>
                            <th>Turno</th>
                            <th>Horario</th>
                            <th>Semestre</th>
                            <th>Módulo</th>
                        </tr>
                        <tr dir-paginate="item in itemsGetGroupsOfferedAcademicArea | orderBy: ['schedule.schedule', columna]   | filter: buscar | itemsPerPage: 20 ">
                            <td>{{ item.course.initials }}</td>
                            <td>{{ item.course.name }}</td>
                            <td>{{ item.course.academicArea.description }}</td>
                            <td>{{ item.group }}</td>
                            <td ng-show="item.classroom != '' ">{{ item.classroom }}</td>
                            <td ng-show="item.classroom == '' ">N/A</td>
                            <td>{{ item.numberEnrolled }}</td>
                            <td>{{ item.professor.name }}</td>
                            <td>{{ item.schedule.description }}</td>
                            <td>{{ item.schedule.schedule }}</td>
                            <td>{{ item.semester }}</td>
                            <td>{{ item.module}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="career">
        <div style="margin-top: 15px" ng-show="!AlertErrorGroupsOfferedCareer" class="col-xs-12">
            <div class="box perfiles" ng-show="spinnerGroupsOfferedCareer && !spinnerGroupsOffered">
                <div class="box-header">
                    <h3 class="box-title col-xs-12 col-sm-12 col-md-4" style="padding-right: 0; width: auto">
                        <b>Ordenar por:</b>
                        <br>
                        <br>
                    </h3>
                    <h3 class="box-title col-xs-12 col-sm-12 col-md-8">
                        <a ng-class="{'backgroundColorCLick': stateColorOfGroupsOffered == 1}" ng-click="columna = 'course.name'; changeColorState('course.name')" style="cursor: pointer; padding: 2px">Materia</a>
                        <a ng-class="{'backgroundColorCLick': stateColorOfGroupsOffered == 2}" ng-click="columna = 'course.academicArea.description'; changeColorState('course.academicArea.description')"  style="cursor: pointer;padding: 2px; margin-left: 8px">Área</a>
                        <a ng-class="{'backgroundColorCLick': stateColorOfGroupsOffered == 4}" ng-click="columna = 'group'; changeColorState('group')"  style="cursor: pointer; padding: 2px; margin-left: 8px">Grupo</a>
                    </h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px">
                            <input type="text" ng-model="buscarCareer.course.name"  class="form-control pull-right" placeholder="Buscar nombre">
                            <div class="input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Siglas</th>
                            <th>Nombre</th>
                            <th>Área</th>
                            <th>Grupo</th>
                            <th>Aula</th>
                            <th>Número de inscritos</th>
                            <th>Docente</th>
                            <th>Turno</th>
                            <th>Horario</th>
                            <th>Semestre</th>
                            <th>Módulo</th>
                        </tr>
                        <tr dir-paginate="items in itemsGetGroupsOfferedCareer | orderBy: ['schedule.schedule', columna] | filter: buscarCareer | itemsPerPage: 20 ">
                            <td>{{ items.course.initials }}</td>
                            <td>{{ items.course.name }}</td>
                            <td>{{ items.course.academicArea.description }}</td>
                            <td>{{ items.group }}</td>
                            <td ng-show="items.classroom != '' ">{{ items.classroom }}</td>
                            <td ng-show="items.classroom == '' ">N/A</td>
                            <td>{{ items.numberEnrolled }}</td>
                            <td>{{ items.professor.name }}</td>
                            <td>{{ items.schedule.description }}</td>
                            <td>{{ items.schedule.schedule }}</td>
                            <td>{{ items.semester }}</td>
                            <td>{{ items.module }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>