<div>
    <div ng-show="spinnerAdminProfile">
        <div class="overlays"></div>
    </div>
    <section class="content-header">
        <h1>
            Mi perfil
        </h1>
        <ol class="breadcrumb">
            <li><a href ui-sref="dashboard" ><i class="fa fa-dashboard"></i>Inicio</a></li>
            <li class="active">Mi perfil</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="box perfiles">
                    <div class="box-body">
                        <img class="profile-user-img img-responsive img-circle" src="images/avatar.png" alt="User profile picture">
                        <h3 class="profile-username text-center">
                            {{adminProfile.profile.name}} {{adminProfile.profile.fatherLastname}} {{adminProfile.profile.motherLastname}}
                        </h3>
                        <p class="text-muted text-center">Usuario: {{adminProfile.username}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="box perfiles">
                    <div class="box-header">
                       <i class="fa  fa-user"></i> Acerca de mi
                    </div>
                    <div class="box-body">
                        <div class="col-sm-6">
                            <strong><i class="fa fa-info-circle margin-r-5"></i>Nombre:</strong> <br>
                            <p class="text-muted">{{adminProfile.profile.name}}</p>

                            <strong><i class="fa fa-info-circle margin-r-5"></i>Apellido paterno:</strong> <br>
                            <p class="text-muted">{{adminProfile.profile.fatherLastname}}</p>

                            <strong><i class="fa fa-info-circle margin-r-5"></i>Apellido materno:</strong> <br>
                            <p class="text-muted">{{adminProfile.profile.motherLastname}}</p>

                            <strong><i class="fa fa-barcode margin-r-5"></i>Ocupacion:</strong> <br>
                            <p class="text-muted">{{adminProfile.profile.ocupation}}</p>

                            <strong><i class="fa fa-envelope margin-r-5"></i>Email:</strong> <br>
                            {{adminProfile.profile.email}} <br>

                        </div>
                        <div class="col-sm-6">
                            <strong><i class="fa fa-phone margin-r-5"></i>Telefono:</strong> <br>
                            <p class="text-muted">{{adminProfile.profile.phoneNumber}}</p>
                            <strong><i class="fa fa-user margin-r-5"></i>Usuario:</strong> <br>
                            {{adminProfile.username}} <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>