<!-- Content Header (Page header) -->
<div>
    <div ng-show="spinnerDocumentsStudent">
        <div class="overlays"></div>
    </div>
    <section class="content-header">
        <h1>
            Documentación
        </h1>
        <ol class="breadcrumb">
            <li><a href ui-sref="dashboard" ><i class="fa fa-dashboard"></i>Inicio</a></li>
            <li class="active">Documentación</li>
        </ol>
    </section>

    <section class="content">
        <div ng-if="alertError" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
            <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
        </div>
        <div ng-if="!alertError" class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="box box-danger">
                    <div class="box-body box-profile">
                        <!-- Documentos principales para estudiantes bolivianos -->
                        <div ng-show="isStudentBolivian">
                            <h3 class="profile-username text-center" ng-show="numberOfMainDocumentsDelivered() == 4">Gracias por entregar todos los documentos.</h3>
                            <h3 class="profile-username text-center" ng-show="numberOfMainDocumentsDelivered() < 4">Por favor entregar los documentos pendientes</h3>
                        </div>
                        <ul ng-show="isStudentBolivian" class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <p class="numBig" style="display: inline-block">{{numberOfMainDocumentsDelivered()}}</p><p style="display: inline-block; margin:0px -11px 0px 18px;font-size: 47px">/{{mainDocumentsForStudentsBolivians.length}}</p><br>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <div class="col-xs-6">
                                        <span class="maprovada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos entregados
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="mreprobada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos faltantes
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- Documentos para estudiantes extranjeros -->
                        <div ng-show="!isStudentBolivian">
                            <h3 class="profile-username text-center" ng-if="numberDocumentsDelivered() >= numberDocuments() && numberDocuments()>0 && numberDocumentsDelivered()>0">Gracias por entregar todos los documentos.</h3>
                            <h3 class="profile-username text-center" ng-if="numberDocumentsDelivered() < numberDocuments()">Por favor entregar los documentos pendientes.</h3>
                            <h3 class="profile-username text-center" ng-if="numberDocuments()==0 && numberDocumentsDelivered()==0">No tienes documentos registrados.</h3>
                        </div>
                        <ul ng-show="!isStudentBolivian" class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <div class="col-xs-12">
                                       <p class="numBig" style="display: inline-block">{{numberDocumentsDelivered()}}</p><p style="display: inline-block; margin:0px -11px 0px 18px;font-size: 47px">/{{numberDocuments()}}</p><br>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <div class="col-xs-6">
                                        <span class="maprovada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos entregados
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="mreprobada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos faltantes
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.box -->
            <!-- About Me Box -->
            <div class="col-md-8">
                <div class="box box-danger">
                    <div class="box-body " ng-swipe-right="stop($event)" ng-swipe-left="stop($event)">
                        <!-- Lista de documentos principales para estudiantes Bolivianos -->
                        <table ng-show="isStudentBolivian" class="table table-condensed">
                            <thead>
                            <tr>
                                <th colspan="2">Documentos Oficiales</th>
                            </tr>
                            <tr>
                                <th class="text-center">Tipo</th>
                                <th>Descripción</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="documentsStudents in mainDocumentsForStudentsBolivians | orderBy:'+':true">
                            <tr ng-class="{'color-red': documentsStudents.state == false,'color-green': documentsStudents.state == true}">
                                <td class="text-center">
                                    <span ng-if="documentsStudents.typePaper == 'O'">Original</span>
                                    <span ng-if="documentsStudents.typePaper == 'F'">Fotocopia</span>
                                    <span ng-if="documentsStudents.typePaper.trim()==''">N/A</span>
                                </td>
                                <td>{{documentsStudents.document}}</td>
                            </tr>
                            </tbody>
                            <!-- Lista de documentos equivalentes  -->
                            <tfoot ng-show="numberOfMainDocumentsDelivered() < 4 && provisionalDocumentsForStudentsBolivians.length > 0 && isStudentBolivian">
                            <tr>
                                <th colspan="2">Documentos Provisionales</th>
                            </tr>
                            <tr>
                                <th class="text-center">Tipo</th>
                                <th>Descripción</th>
                            </tr>
                            <tr ng-repeat="documentsForStudents in provisionalDocumentsForStudentsBolivians" ng-class="{'color-green': documentsForStudents.state == true}">
                                <td class="text-center">
                                    <span ng-if="documentsForStudents.typePaper == 'O'">Original</span>
                                    <span ng-if="documentsForStudents.typePaper == 'F'">Fotocopia</span>
                                </td>
                                <td>{{documentsForStudents.document}}</td>
                            </tr>
                            </tfoot>
                        </table>
                        <!-- Lista de documentos para estudiatnes extranjeros -->
                        <table class="table table-condensed" ng-show="!isStudentBolivian">
                            <thead>
                                <th class="text-center">Tipo</th>
                                <th>Descripción</th>
                            </thead>
                            <tbody ng-repeat="documentsStudents in documentsStudent | orderBy:'state':true">
                                <tr ng-class="{'color-red': documentsStudents.state == false,
                                'color-green': documentsStudents.state == true}">
                                    <td class="text-center">
                                        <span ng-if="documentsStudents.typePaper == 'O'">Original</span>
                                        <span ng-if="documentsStudents.typePaper == 'F'">Fotocopia</span>
                                        <span ng-if="documentsStudents.typePaper.trim()==''">N/A</span>
                                    </td>
                                    <td>{{documentsStudents.document}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</div>
