<!-- Content Header (Page header) -->
<div>
    <div ng-show="spinnerDocumentsStudent">
        <div class="overlays"></div>
    </div>
    <section class="content-header">
        <h1>
            Documentación
        </h1>
    </section>

    <section class="content">
        <div ng-if="alertError" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
            <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
        </div>
        <div ng-if="!alertError" class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div ng-if="numberDocuments() == 0 && !spinnerDocumentsStudent" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
                    <h4><i class="icon fa fa-warning"></i>  "Problema interno del servidor. Por favor envie un correo a <b>software.factory@utepsa.edu</b>"</h4>
                </div>
                <div class="box box-danger" ng-if="numberDocuments() > 0">
                    <div class="box-body box-profile">
                        <!-- Documentos principales para estudiantes bolivianos -->
                        <div ng-if="isStudentBolivian">
                            <h3 class="profile-username text-center" ng-if="numberOfMainDocumentsDelivered() == 4">Gracias por entregar todos los documentos.</h3>
                            <h3 class="profile-username text-center" ng-if="numberOfMainDocumentsDelivered() < 4">Por favor entregar los documentos pendientes</h3>
                        </div>
                        <ul ng-if="numberDocuments() > 0 && numberDocuments() < 9 && isStudentBolivian" class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <p class="numBig" style="display: inline-block">{{numberOfMainDocumentsDelivered()}}</p><p style="display: inline-block; margin:0px -11px 0px 18px;font-size: 47px">/{{mainDocumentsForStudentsBolivians.length}}</p><br>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <div class="col-xs-6">
                                        <span class="maprovada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos entregados
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="mreprobada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos faltantes
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- Documentos para estudiantes extranjeros -->
                        <div ng-if="!isStudentBolivian">
                            <h3 class="profile-username text-center" ng-if="numberDocumentsDelivered() >= numberDocuments() && numberDocuments()>0 && numberDocumentsDelivered()>0">Gracias por entregar todos los documentos.</h3>
                            <h3 class="profile-username text-center" ng-if="numberDocumentsDelivered() < numberDocuments()">Por favor entregar los documentos pendientes.</h3>
                            <h3 class="profile-username text-center" ng-if="numberDocuments()==0 && numberDocumentsDelivered()==0">No tienes documentos registrados.</h3>
                        </div>
                        <ul ng-if="!isStudentBolivian" class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <div class="col-xs-12">
                                       <p class="numBig" style="display: inline-block">{{numberDocumentsDelivered()}}</p><p style="display: inline-block; margin:0px -11px 0px 18px;font-size: 47px">/{{numberDocuments()}}</p><br>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <div class="col-xs-6">
                                        <span class="maprovada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos entregados
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="mreprobada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos faltantes
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            <div class="col-md-8" ng-if="numberDocuments() > 0 ">
                <div class="box box-danger">
                    <div class="box-body" ng-swipe-right="stop($event)" ng-swipe-left="stop($event)">
                        <!-- Lista de documentos principales para estudiantes Bolivianos -->
                        <table ng-if="isStudentBolivian" class="table table-condensed">
                            <thead>
                            <tr>
                                <th colspan="2">
                                    <p class="col-md-10 col-sm-10 col-xs-10">
                                        Documentos Oficiales
                                    </p>
                                    <span class="text-center col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-placement="top" title="{{descriptionOfTypeDocument.oficial}}">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </span>
                                </th>
                            </tr>
                            <tr>
                                <th class="text-center">Tipo</th>
                                <th>Descripción</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="documentsStudents in mainDocumentsForStudentsBolivians | orderBy:'+':true">
                            <tr ng-class="{'color-red': documentsStudents.state == false,'color-green': documentsStudents.state == true}">
                                <td class="text-center">
                                    <span ng-if="documentsStudents.typePaper == 'O'">Original</span>
                                    <span ng-if="documentsStudents.typePaper == 'F'">Fotocopia</span>
                                    <span ng-if="documentsStudents.typePaper.trim()==''">N/A</span>
                                </td>
                                <td>{{documentsStudents.document}}</td>
                            </tr>
                            </tbody>
                            <!-- Lista de documentos equivalentes  -->
                            <tfoot ng-if="numberOfMainDocumentsDelivered() < 4 && provisionalDocumentsForStudentsBolivians.length >= 0 && isStudentBolivian">
                            <tr>
                                <th colspan="2">
                                    <p class="col-ms-10 col-sm=10 col-xs-10">
                                        Documentos Provisionales
                                    </p>
                                    <span class="text-center col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-placement="top" title="{{descriptionOfTypeDocument.provicional}}">
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </span>
                                </th>
                            </tr>
                            <tr>
                                <th class="text-center">Tipo</th>
                                <th>Descripción</th>
                            </tr>
                            <tr ng-repeat="documentsForStudents in provisionalDocumentsForStudentsBolivians" ng-class="{'color-green': documentsForStudents.state == true}">
                                <td class="text-center">
                                    <span ng-if="documentsForStudents.typePaper == 'O'">Original</span>
                                    <span ng-if="documentsForStudents.typePaper == 'F'">Fotocopia</span>
                                </td>
                                <td>{{documentsForStudents.document}}</td>
                            </tr>
                            </tfoot>
                        </table>
                        <!-- Lista de documentos para estudiantes extranjeros -->
                        <table ng-if="!isStudentBolivian" class="table table-condensed">
                            <thead>
                                <th class="text-center">Tipo</th>
                                <th>Descripción</th>
                            </thead>
                            <tbody ng-repeat="documentsStudents in documentsStudent | orderBy:'state':true">
                                <tr ng-class="{'color-red': documentsStudents.state == false,
                                    'color-green': documentsStudents.state == true}">
                                    <td class="text-center">
                                        <span ng-if="documentsStudents.typePaper == 'O'">Original</span>
                                        <span ng-if="documentsStudents.typePaper == 'F'">Fotocopia</span>
                                        <span ng-if="documentsStudents.typePaper.trim()==''">N/A</span>
                                    </td>
                                    <td>{{documentsStudents.document}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</div>
