<div ng-show="spinnerCoursesRegistered">
    <div class="overlays"></div>
</div>
<section class="content-header">
    <h1>
        Programación Semestral
    </h1>
    <ol class="breadcrumb">
        <li><a href ui-sref="dashboard" ><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Programación Semestral</li>
    </ol>
</section>
<section class="content">
    <div ng-if="alertError" class="alert alert-warning text-center">
        <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
    </div>
    <div ng-if="!alertError" class="row">
        <div ng-if="spinnerMatter" class="overlay; text-center" style="padding: 150px 0px 4px 10px;margin: 0px;">
        <i class="fa fa-refresh fa-spin" style="font-size: 50px"></i>
    </div>
        <h4 ng-if="!spinnerMatter" class="text-center">Materias Programadas del Semestre:<br> <span style="color: #dd4b39;">{{coursesRegistered.data[0].semester}}</span></h4><br>
        <a ng-if="!spinnerMatter" style="color: black" class="col-md-3 col-sm-6 col-xs-6" data-backdrop=""   ng-repeat="courses in coursesRegistered.data |orderBy:'module'" data-toggle="modal" data-target="#courseDetail{{courses.id}}" ng-show="courses.state !='RETIRADA'">
            <div style="max-height: 109px; " class="small-box bg-green" ng-class="{'yellow-failed-status': courses.state== 'A CONFIRMAR',
            'green-status':courses.state == 'CONFIRMADA' || courses.state == 'MOVIDA DE GRUPO',
            'yellow-status':courses.state == 'PENDIENTE' ,
            'red-failed-status': courses.state== 'RETIRADA' || courses.state == 'RETIRO POR DEUDA' || courses.state == 'CONGELADA',
            'current-state': currentSemester.data.module == courses.module && (courses.state != 'PENDIENTE' && courses.state != 'MOVIDA DE GRUPO' &&
                             courses.state != 'RETIRADA' && courses.state != 'RETIRO POR DEUDA' && courses.state != 'CONGELADA'),
            'past-state': currentSemester.data.module > courses.module && (courses.state != 'PENDIENTE' && courses.state != 'MOVIDA DE GRUPO' &&
                             courses.state != 'RETIRADA' && courses.state != 'RETIRO POR DEUDA' && courses.state != 'CONGELADA') }">
                <div style="max-height: 117px;" class="text-center">
                    <h3 style="font-size: 28px;padding-top: 10px;">Modulo {{courses.module}}</h3>
                    <p class="text-center" ng-if="currentSemester.data.module < courses.module && courses.state == 'CONFIRMADA' " style="margin-top: 5px;margin-bottom: 5px;">CONFIRMADA</p>
                    <p class="text-center" ng-if="currentSemester.data.module == courses.module && courses.state == 'CONFIRMADA'" style="margin-top: 5px;margin-bottom: 5px;">CURSANDO</p>
                    <p class="text-center" ng-if="currentSemester.data.module > courses.module && (courses.state == 'CONFIRMADA' || courses.state == 'MOVIDA DE GRUPO')" style="margin-top: 5px;margin-bottom: 5px;">CURSADA</p>
                    <p class="text-center" style="margin-top: 5px;margin-bottom: 5px; white-space:nowrap; overflow:hidden; text-overflow: ellipsis; " ng-if="(courses.state == 'PENDIENTE' || courses.state == 'MOVIDA DE GRUPO' || courses.state == 'RETIRADA' || courses.state == 'RETIRO POR DEUDA' || courses.state == 'CONGELADA')">{{courses.state}}</p>
                    <p class="text-center" style="margin-top: 5px;margin-bottom: 5px;padding: 10px; white-space:nowrap; overflow:hidden; text-overflow: ellipsis; ">{{courses.course.name}}</p>
                </div>
            </div>
            <div id="courseDetail{{courses.id}}" class="modal fade"  data-keyboard="false" data-backdrop="static"  role="dialog" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center"><b>Modulo {{courses.module}}</b> </h4>
                        </div>
                        <div class="modal-body">
                            <div class="row ">
                                <div class="col-xs-12 col-sm-8 col-md-8 text-left">
                                    <b>Materia:</b> {{courses.course.name}}<br>
                                    <b>Horario: </b> {{courses.schedule.schedule}}<br>
                                    <span><b>Inscritos:</b> {{courses.numberEnrolled}}</span><br>
                                    <span ng-if="currentSemester.data.module == courses.module || currentSemester.data.module > courses.module"><b>Docente:</b> {{courses.professor.name}} {{courses.professor.father_lastname}}</span>
                                </div>
                                <div  class="col-xs-12 col-sm-4 col-md-4 text-left">
                                    <b>Grupo:</b> {{courses.group}} <br>
                                    <b>Aula:</b> {{courses.classroom}} <br>
                                    <b>Turno:</b> {{courses.schedule.description}} <br>
                                </div>
                                <div ng-if="courses.module < currentSemester.data.module"  class="col-xs-12 col-sm-12 col-md-12 text-center">
                                    <b ng-show="courses.state != 'PENDIENTE'">Nota Final de modulo:</b>  <br>
                                    <span style="font-size: 35px" ng-class="{'status-note-good': courses.note >=51,
                                                                 'status-note-bad': courses.note < 51}" ng-show="courses.state != 'PENDIENTE'">
                                        {{courses.note}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"  style="color: white; font-weight: 600; padding: 2px"
                             ng-class="{'yellow-failed-status': courses.state == 'A CONFIRMAR',
                                        'green-status':courses.state == 'CONFIRMADA' || courses.state == 'MOVIDA DE GRUPO',
                                        'yellow-status':courses.state == 'PENDIENTE',
                                        'red-failed-status': courses.state == 'RETIRADA' || courses.state == 'RETIRO POR DEUDA' || courses.state == 'CONGELADA',
                                        'current-state': currentSemester.data.module == courses.module && (courses.state != 'PENDIENTE' && courses.state != 'MOVIDA DE GRUPO' &&
                                                         courses.state != 'RETIRADA' && courses.state != 'RETIRO POR DEUDA' && courses.state != 'CONGELADA'),
                                        'past-state': currentSemester.data.module > courses.module && (courses.state != 'PENDIENTE' && courses.state != 'MOVIDA DE GRUPO' &&
                                                     courses.state != 'RETIRADA' && courses.state != 'RETIRO POR DEUDA' && courses.state != 'CONGELADA')}">
                            <h4 class="text-center" ng-if="currentSemester.data.module < courses.module && courses.state == 'CONFIRMADA' " style="margin-top: 5px;margin-bottom: 5px;">CONFIRMADA</h4>
                            <h4 class="text-center" ng-if="currentSemester.data.module == courses.module && courses.state == 'CONFIRMADA'" style="margin-top: 5px;margin-bottom: 5px;">CURSANDO....</h4>
                            <h4 class="text-center" ng-if="currentSemester.data.module > courses.module && (courses.state == 'CONFIRMADA' || courses.state == 'MOVIDA DE GRUPO')" style="margin-top: 5px;margin-bottom: 5px;">CURSADA</h4>
                            <h4 class="text-center" ng-if="courses.state == 'PENDIENTE' || courses.state == 'MOVIDA DE GRUPO' || courses.state == 'RETIRADA' || courses.state == 'RETIRO POR DEUDA' || courses.state == 'CONGELADA'">{{courses.state}}</h4>
                        </div>
                    </div>
                    <div style="margin: 0; margin-top: 10px;" ng-show="courses.state == 'PENDIENTE' && currentSemester.data.module <= courses.module" class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h4 class="modal-title" style="color: #f39c12;">
                                    <i class="fa fa-info-circle margin-r-5"></i>
                                    Información
                                </h4>
                                Debe dirigirse a PASE para confirmar su materia.
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </a>
    </div>
    <div ng-if="!alertError && !spinnerMatter" class="row">
        <div class="col-xs-0 col-sm-0 col-md-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <span><i class="fa fa-circle text-green margin-r-5"></i>Confirmada</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <span><i class="fa fa-circle text-green margin-r-5"></i>Movida de grupo</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <span><i class="fa fa-circle text-aqua margin-r-5"></i>Cursando</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <span><i class="fa fa-circle text-yellow margin-r-5"></i>Pendiente</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <span><i class="fa fa-circle text-red margin-r-5"></i>Retiro por deuda</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <span><i class="fa fa-circle text-red margin-r-5"></i>Congelada</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <span><i class="fa fa-circle margin-r-5" style="color: #737373;"></i>Cursada</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-3"></div>
    </div>
</section>