<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header" header-template>

  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" sidebar-template>

  
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" onclick="closeSidebar();">
    <div ui-view>
      
    </div>
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right">
      v0.11
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2017 UTEPSA.</strong>
  </footer>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>